@using SIAkademik.Web.Areas.DashboardAdmin.Models.RombelModels
@model EditVM
@inject ITahunAjaranRepository TahunAjaranRepository
@inject IPegawaiRepository PegawaiRepository
@inject IKelasRepository KelasRepository

@{
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
    var daftarPegawai = await PegawaiRepository.GetAll();
    var daftarKelas = await KelasRepository.GetAllByTahunAjaran(Model.IdTahunAjaran);
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Manajemen Akademik</a></li>
                <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="Rombel" asp-action="Index">Rombel</a></li>
                <li class="breadcrumb-item" aria-current="page">Edit Data</li>
            </ol>
        </nav>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-warning">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Edit Data Divisi</h4>
                </div>

                <form asp-action="Edit" method="post">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label asp-for="@Model.Id"></label>
                            <input asp-for="@Model.Id" type="text" readonly class="form-control"/>
                            <span asp-validation-for="@Model.Id"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdTahunAjaran">Tahun Ajaran</label>
                            <select asp-for="@Model.IdTahunAjaran" class="form-control">
                                <option value="@null">--</option>

                                @foreach (var tahunAjaran in daftarTahunAjaran)
                                {
                                    <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdKelas"></label>
                            <select asp-for="@Model.IdKelas" class="form-control">
                                <option value="@null">--</option>

                                @foreach (var kelas in daftarKelas)
                                {
                                    <option value="@kelas.Id">@kelas.Jenjang.Humanize() @kelas.Peminatan.Nama</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.IdKelas"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Nama"></label>
                            <input asp-for="@Model.Nama" type="text" class="form-control" />
                            <span asp-validation-for="@Model.Nama"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.NIPWali"></label>
                            <select asp-for="@Model.NIPWali" class="form-control">
                                <option value="@null">--</option>

                                @foreach (var pegawai in daftarPegawai)
                                {
                                    <option value="@pegawai.Id">@pegawai.Nama - @pegawai.Jabatan.Nama</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.NIPWali"></span>
                        </div>                        
                    </div>

                    <div class="card-footer text-right">
                        <a href="javascript:void(0)" class="btn btn-danger swal-cancel">Batal</a>
                        <button class="btn btn-primary mr-1" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(
            $('form select#IdTahunAjaran').on('change', async function () {
                const idTahunAjaran = $(this).val()

                if (idTahunAjaran == "") {
                    $('form select#IdKelas').html('<option value="">--</option>');
                } else {
                    const response = await fetch(`/Dashboard/Admin/Kelas/DaftarKelas?idTahunAjaran=${idTahunAjaran}`)
                    const daftarKelas = await response.json();

                    $('form select#IdKelas').html('<option value="">--</option>');

                    for (let kelas of daftarKelas) {
                        $('form select#IdKelas')
                            .append(`<option value="${kelas.id}">${kelas.jenjang} ${kelas.peminatan}</option>`);
                    }
                }
            })
        )
    </script>
}