@using SIAkademik.Web.Areas.DashboardAdmin.Models.RombelModels
@model TambahVM
@inject ITahunAjaranRepository TahunAjaranRepository
@inject IPegawaiRepository PegawaiRepository

@{
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
    var daftarPegawai = await PegawaiRepository.GetAll();
}

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-danger">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Rombel</h4>
                </div>

                <form asp-action="Tambah" method="post">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label for="tahunAjaran">Tahun Ajaran</label>
                            <select id="tahunAjaran" name="tahunAjaran" class="form-control">
                                <option value="@null">--</option>

                                @foreach (var tahunAjaran in daftarTahunAjaran)
                                {
                                    <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdKelas"></label>
                            <select asp-for="@Model.IdKelas" class="form-control">
                                <option value="@null">--</option>
                            </select>
                            <span asp-validation-for="@Model.IdKelas"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Nama"></label>
                            <input asp-for="@Model.Nama" type="text" class="form-control" />
                            <span asp-validation-for="@Model.Nama"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.NIPWali"></label>
                            <select asp-for="@Model.NIPWali" class="form-control">
                                <option value="@null">--</option>

                                @foreach (var pegawai in daftarPegawai)
                                {
                                    <option value="@pegawai.Id">@pegawai.Nama - @pegawai.Jabatan.Nama</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.NIPWali"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(
            $('form select#tahunAjaran').on('change', async function () {
                const idTahunAjaran = $(this).val()
                console.log(idTahunAjaran)

                if (idTahunAjaran == "") {
                    $('form select#IdKelas').html('<option value="">--</option>');
                } else {
                    const response = await fetch(`/Dashboard/Admin/Kelas/DaftarKelas?idTahunAjaran=${idTahunAjaran}`)
                    const daftarKelas = await response.json();
                    console.log(daftarKelas)

                    $('form select#IdKelas').html('<option value="">--</option>');

                    for (let kelas of daftarKelas) {
                        $('form select#IdKelas')
                            .append(`<option value="${kelas.id}">${kelas.jenjang} ${kelas.peminatan}</option>`);
                    }
                }
            })
        )
    </script>
}