@using SIAkademik.Web.Areas.DashboardAdmin.Models.RombelModels
@model TambahVM
@inject ITahunAjaranRepository TahunAjaranRepository
@inject IKelasRepository KelasRepository
@inject IPegawaiRepository PegawaiRepository

@{
    ViewData["Title"] = "Tambah Rombel";
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
    var daftarKelas = await KelasRepository.GetAll();
    var daftarPegawai = await PegawaiRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Manajemen Akademik</a></li>
                <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="Rombel" asp-action="Index" asp-route-idKelas="@Model.IdKelas" asp-route-idTahunAjaran="@Model.IdTahunAjaran">Rombel</a></li>
                <li class="breadcrumb-item" aria-current="page">Tambah Data</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Isi Konten -->
<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-success">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Data Rombel</h4>
                </div>

                <form asp-action="Tambah" method="post">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label asp-for="@Model.IdTahunAjaran"></label>
                            <select asp-for="@Model.IdTahunAjaran" class="form-control">
                                <option value="@null">-- Pilih Tahun Ajaran --</option>

                                @foreach (var tahunAjaran in daftarTahunAjaran)
                                {
                                    <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdKelas"></label>
                            <select asp-for="@Model.IdKelas" class="form-control">
                                <option value="@null">-- Pilih Kelas --</option>

                                @foreach (var kelas in daftarKelas)
                                {
                                    <option value="@kelas.Id">@kelas.Jenjang.Humanize() @kelas.Peminatan.Nama</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.IdKelas" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Nama"></label>
                            <input asp-for="@Model.Nama" type="text" class="form-control" placeholder="Contoh: A" />
                            <span asp-validation-for="@Model.Nama" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.NIPWali"></label>
                            <select asp-for="@Model.NIPWali" class="form-control">
                                <option value="@null">-- Pilih Wali --</option>

                                @foreach (var pegawai in daftarPegawai)
                                {
                                    <option value="@pegawai.Id">@pegawai.Nama - @pegawai.Jabatan.Nama</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.NIPWali" class="text-danger"></span>
                        </div>                       
                    </div>
                    <div class="card-footer text-right pt-0">
                        <a href="javascript:void(0)" class="btn btn-danger text-white swal-cancel">Batal</a>
                        <button class="btn btn-primary mr-1" type="submit">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}