@using SIAkademik.Web.Areas.DashboardGuru.Models.JadwalMengajarModels
@model IndexVM

@inject ITahunAjaranRepository TahunAjaranRepository

@{
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Akademik</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardGuru" asp-controller="JadwalMengajar" asp-action="Index"></a>Jadwal Mengajar</li>
        </ol>
    </nav>
</div>

<!-- Isi Konten -->
<div class="card card-primary">
    <div class="card-header">
        <h4>Daftar Jadwal Mengajar</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-start mb-3">
            <form id="tahunAjaran" method="get" class="d-flex align-items-center" style="gap: 8px;">
                <label for="showTidakAktif" class="mb-0" style="font-weight: 600;">Tahun Ajaran:</label>
                <select id="idTahunAjaran" name="idTahunAjaran" class="form-control form-control-sm w-auto">
                    @if (Model.TahunAjaran is null)
                    {
                        <option selected value="@null">-- Pilih Tahun Ajaran --</option>
                    }
                    else
                    {
                        <option value="@null">-- Pilih Tahun Ajaran --</option>
                    }

                    @foreach (var tahunAjaran in daftarTahunAjaran)
                    {
                        @if (tahunAjaran == Model.TahunAjaran)
                        {
                            <option selected value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                        }
                        else
                        {
                            <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                        }
                    }
                </select>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-striped" id="table-akun">
                <thead>
                    <tr>
                        <th>Kelas</th>
                        <th>Mata Pelajaran</th>
                        <th>Hari (Jam)</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jadwal in Model.DaftarJadwalMengajar)
                    {
                        var collapseId = "collapseJadwal" + jadwal.Id;
                        <tr>
                            <td>@jadwal.Rombel.Kelas.Jenjang.Humanize() @jadwal.Rombel.Kelas.Peminatan.Nama @jadwal.Rombel.Nama</td>
                            <td>@jadwal.MataPelajaran.Nama</td>
                            <td>
                                <p>
                                    <button class="btn btn-outline-info" style="min-width:200px" type="button"
                                            data-toggle="collapse"
                                            data-target="#@collapseId"
                                            aria-expanded="false"
                                            aria-controls="@collapseId">
                                        Lihat Jadwal <i class="fas fa-arrow-down mr-3"></i>
                                    </button>
                                </p>
                                <div class="collapse" id="@collapseId">
                                    <div class="mt-2">
                                        @foreach (var hari in jadwal.DaftarHariMengajar)
                                        {
                                            <p class="mb-1">
                                                <strong>@hari.Hari.Humanize()</strong>
                                                (@hari.JamMulai.ToShortTimeString() - @hari.JamAkhir.ToShortTimeString())
                                            </p>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a asp-action="Detail" asp-route-id="@jadwal.Id" class="btn btn-warning" data-toggle="tooltip" title="Detail Jadwal Mengajar"><i class="fas fa-eye"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function() {
            $('select#idTahunAjaran').on('change', () => {
                $('form#tahunAjaran').submit()
            })
        });
    </script>
}