@using SIAkademik.Web.Areas.DashboardAdmin.Models.JadwalMengajarModels
@model TambahHariVM

<form asp-action="TambahHari" asp-route-idJadwalMengajar="@Model.IdJadwalMengajar" asp-route-returnUrl="@Model.ReturnUrl" method="post" id="formTambahHari">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTambahTitle">Tambah Hari Mengajar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="@Model.Hari"></label>
            <select asp-for="@Model.Hari" class="form-control">
                <option value="@null">-- Pilih Hari --</option>
                @foreach (var hari in Enum.GetValues<Hari>())
                {
                    <option value="@hari">@hari.Humanize()</option>
                }
            </select>
            <span asp-validation-for="@Model.Hari"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.JamMulai"></label>
            <input asp-for="@Model.JamMulai" type="time" class="form-control" />
            <span asp-validation-for="@Model.JamMulai" style="color:red"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}