@using SIAkademik.Web.Areas.DashboardAdmin.Models.JadwalMengajarModels
@model IndexVM

@inject ITahunAjaranRepository TahunAjaranRepository

@{
    ViewData["Title"] = "Jadwal Mengajar";
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Manajemen Akademik</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="JadwalMengajar" asp-action="Index"></a>Jadwal Mengajar</li>
        </ol>
    </nav>
</div>

<!-- Isi Konten -->
<div class="card card-primary">
    <div class="card-header">
        <h4>Daftar Jadwal Mengajar</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-between ml-auto mb-3">
            <div class="mb-0">
                @if (Model.TahunAjaran is not null)
                {
                    <a class="btn btn-icon icon-left btn-primary" asp-action="Tambah" asp-route-idTahunAjaran="@Model.TahunAjaran.Id"
                       asp-route-idRombel="@Model.IdRombel"
                       data-toggle="tooltip" title="Tambah Jadwal Mengajar">
                        <i class="fas fa-plus"></i>Tambah Data
                    </a>
                }
            </div>

            <form asp-action="Index" method="get" id="idTahunAjaran" class="d-flex align-items-center" style="gap: 8px;">
                <div class="d-flex ml-auto mr-3">
                    <div class="d-flex align-items-center mr-2" style="gap: 8px;">
                        <label asp-for="@Model.IdTahunAjaran" class="mb-0" style="font-weight: 600;">Tahun Ajaran:</label>
                        <select asp-for="@Model.IdTahunAjaran" class="submit-on-change form-control form-control-sm w-auto" style="min-width:150px;">
                            @if (Model.IdTahunAjaran is null)
                            {
                                <option value="@null">-- Pilih --</option>
                            }

                            @foreach (var tahunAjaran in daftarTahunAjaran)
                            {
                                <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                            }
                        </select>
                    </div>

                    <div class="d-flex align-items-center mr-2" style="gap: 8px;">
                        <label asp-for="@Model.IdRombel" class="mb-0" style="font-weight: 600;">Kelas:</label>
                        <select asp-for="@Model.IdRombel" class="submit-on-change form-control form-control-sm w-auto" style="min-width:150px;">
                            <option value="@null">-- Pilih --</option>

                            @foreach (var rombel in Model.TahunAjaran?.DaftarRombel ?? new List<Rombel>())
                            {
                                <option value="@rombel.Id">@rombel.Kelas.Jenjang.Humanize() @rombel.Kelas.Peminatan.Nama @rombel.Nama</option>
                            }
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-striped" id="table-akun">
                <thead>
                    <tr>
                        <th style="min-width: 80px;">Rombel</th>
                        <th style="min-width: 40px;">Mata Pelajaran</th>
                        <th style="min-width: 80px;">Guru</th>
                        <th style="min-width: 50px;">Durasi</th>
                        <th style="min-width: 250px;">Hari</th>
                        <th style="min-width: 120px !important">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jadwalMengajar in Model.DaftarJadwalMengajar)
                    {
                        <tr>
                            <td>@jadwalMengajar.Rombel.Kelas.Jenjang.Humanize() @jadwalMengajar.Rombel.Kelas.Peminatan.Nama @jadwalMengajar.Rombel.Nama</td>
                            <td>@jadwalMengajar.MataPelajaran.Nama</td>
                            <td>@jadwalMengajar.Pegawai.Nama</td>
                            <td>@jadwalMengajar.DurasiMenit Menit</td>
                            <td>
                                <p>
                                    <button class="btn btn-outline-info" style="min-width:200px" type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse-@jadwalMengajar.Id"
                                            aria-expanded="false"
                                            aria-controls="collapse-@jadwalMengajar.Id">
                                        Lihat Jadwal <i class="fas fa-arrow-down mr-3"></i>
                                    </button>
                                </p>
                                <div class="collapse" id="collapse-@jadwalMengajar.Id">
                                    <table class="table align-middle mb-2">
                                        <tbody>
                                            @foreach (var hari in jadwalMengajar.DaftarHariMengajar.OrderBy(h => h.Hari).ThenBy(h => h.JamMulai))
                                            {
                                                <tr>
                                                    <td>@hari.Hari.Humanize()</td>
                                                    <td>
                                                        @hari.JamMulai.ToString(CultureInfos.CI.DateTimeFormat.ShortTimePattern, CultureInfos.CI)
                                                        -
                                                        @hari.JamSelesai.ToString(CultureInfos.CI.DateTimeFormat.ShortTimePattern, CultureInfos.CI)
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-edit btn-sm border-0 bg-transparent"
                                                           style="box-shadow: none; color: inherit;"
                                                           onmouseover="this.style.color='inherit'"
                                                           onmouseout="this.style.color='inherit'"
                                                           data-toggle="tooltip"
                                                           title="Edit Jadwal">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </button>
                                                        <div class="form-edit" style="display:none">
                                                            @{
                                                                var modelEditHariMengajar = new EditHariVM
                                                                {
                                                                    IdJadwalMengajar = jadwalMengajar.Id,
                                                                    IdHariMengajar = hari.Id,
                                                                    Hari = hari.Hari,
                                                                    JamMulai = hari.JamMulai
                                                                };

                                                                <partial name="_EditHariPartial" model="@modelEditHariMengajar" />
                                                            }
                                                        </div>
                                                        <form asp-action="HapusHari"
                                                              asp-route-id="@jadwalMengajar.Id"
                                                              asp-route-idHariMengajar="@hari.Id"
                                                              class="d-inline">
                                                            <button type="button"
                                                                    class="btn btn-sm text-danger border-0 bg-transparent swal-confirm"
                                                                    data-toggle="tooltip"
                                                                    title="Hapus Jadwal">
                                                                <i class="fas fa-trash"></i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    <button type="button" class="btn btn-primary btn-sm btn-tambah" data-toggle="tooltip" title="Tambah Jadwal">
                                        <i class="fas fa-plus"></i> Tambah
                                    </button>
                                    <div style="display:none;" class="form-tambah">
                                        @{
                                            var modelTambahHari = new TambahHariVM { IdJadwalMengajar = jadwalMengajar.Id };
                                        }
                                        <partial name="_TambahHariPartial" model="@modelTambahHari" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@jadwalMengajar.Id" class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit Jadwal Mengajar"><i class="fas fa-pencil-alt"></i></a>
                                <form asp-action="Hapus" asp-route-id="@jadwalMengajar.Id" method="post" style="display:inline">
                                    <button type="button" class="btn btn-danger btn-action swal-confirm" data-toggle="tooltip" title="Hapus Jadwal Mengajar"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}