@using SIAkademik.Web.Areas.DashboardAdmin.Models.JadwalMengajarModels
@model TambahVM

@inject ITahunAjaranRepository TahunAjaranRepository
@inject IKelasRepository KelasRepository
@inject IRombelRepository RombelRepository
@inject IMataPelajaranRepository MataPelajaranRepository
@inject IPegawaiRepository PegawaiRepository

@{
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
    var daftarKelas = await KelasRepository.GetAllByTahunAjaran(Model.IdTahunAjaran);
    var daftarRombel = daftarKelas.SelectMany(k => k.DaftarRombel);
    var daftarMataPelajaran = await MataPelajaranRepository.GetAll();
    var daftarPegawai = await PegawaiRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Manajemen Akademik</a></li>
                <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="JadwalMengajar" asp-action="Index">JadwalMengajar</a></li>
                <li class="breadcrumb-item" aria-current="page">Tambah Data</li>
            </ol>
        </nav>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-danger">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Jadwal Mengajar</h4>
                </div>

                <form asp-action="Tambah" method="post">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label asp-for="@Model.IdTahunAjaran"></label>
                            <select asp-for="@Model.IdTahunAjaran" class="form-control">
                                <option value="@null">-- Pilih Tahun Ajaran --</option>
                                @foreach (var tahunAjaran in daftarTahunAjaran)
                                {
                                    <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.IdTahunAjaran"></span>                            
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdRombel"></label>
                            <select asp-for="@Model.IdRombel" class="form-control">
                                <option value="@null">-- Pilih Rombel --</option>
                                @foreach (var rombel in daftarRombel)
                                {
                                    <option value="@rombel.Id">
                                        @rombel.Kelas.Jenjang.Humanize() @rombel.Kelas.Peminatan.Humanize() @rombel.Nama
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="@Model.IdRombel"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdMataPelajaran"></label>
                            <select asp-for="@Model.IdMataPelajaran" class="form-control">
                                <option value="@null">-- Pilih Mata Pelajaran --</option>
                                @foreach (var mataPelajaran in daftarMataPelajaran)
                                {
                                    <option value="@mataPelajaran.Id">
                                        @mataPelajaran.Nama @mataPelajaran.Jenjang @mataPelajaran.Peminatan
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="@Model.IdMataPelajaran"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.NIPPegawai"></label>
                            <select asp-for="@Model.NIPPegawai" class="form-control">
                                <option value="@null">-- Pilih Mata Pelajaran --</option>
                                @foreach (var pegawai in daftarPegawai)
                                {
                                    <option value="@pegawai.Id">
                                        @pegawai.Nama
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="@Model.NIPPegawai"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(
            $('select#IdTahunAjaran').on('change', async function() {
                const idTahunAjaran = $(this).val()

                if (idTahunAjaran == "") {
                    $('form select#IdRombel').html('<option selected value="">-- Pilih Rombel --</option>');
                } else {
                    const response = await fetch(`/Dashboard/Admin/Rombel/DaftarRombel?idTahunAjaran=${idTahunAjaran}`)
                    const daftarRombel = await response.json();

                    $('form select#IdRombel').html('<option selected value="">-- Pilih Rombel --</option>');

                    for (let rombel of daftarRombel) {
                        $('form select#IdRombel')
                            .append(`<option value="${rombel.id}">${rombel.kelas.jenjang} ${rombel.kelas.peminatan} ${rombel.nama}</option>`);
                    }
                }
            })
        )
    </script>
}