@using SIAkademik.Web.Areas.Profil.Models.BeritaModels
@model DetailVM

@{
    ViewData["Title"] = $"{Model.Berita.KategoriBerita.Nama} - {Model.Berita.Judul}";
}

<!-- ======================================= PENGANTAR ======================================= -->
<section id="isinformasi-home">
    <div class="isinformasi-wrapper">
        <div class="isinformasi-tanggal">
            <h5>@Model.Berita.Tanggal.Day</h5>
            <p>@Model.Berita.Tanggal.ToString("MMMM", CultureInfos.CI)</p>
        </div>
        <div class="isinformasi-judul">
            <h2>@Model.Berita.KategoriBerita.Nama - @Model.Berita.Judul</h2>
            <div class="isinformasi-breadcumbs">
                <a asp-action="Index" asp-controller="Home" asp-area="Profil">Beranda,</a>
                <a asp-action="Index" asp-controller="Berita">Daftar Berita & Pengumuman</a>
                <p class="penulis">oleh Admin</p>
            </div>
        </div>
    </div>
</section>

<!-- ======================================= ISI BERITA ======================================= -->
<section id="berpeng">
    <div class="berpeng-image-utama">
        <img src="@Model.Berita.Foto.OriginalString" alt="" />
    </div>
    <div class="berpeng-deskripsi">
        @Html.Raw(Model.Berita.Isi)
    </div>
    <div class="navigasi-post">
        @if (Model.Sebelumnya is not null)
        {
            <div class="post-sebelumnya">
                <small>Post Sebelumnya</small>
                <a asp-action="Detail" asp-route-id="@Model.Sebelumnya.Id" class="judul-post">
                    @Model.Sebelumnya.KategoriBerita.Nama - @Model.Sebelumnya.Judul
                </a>
            </div>
        }

        <div class="garis-pemisah"></div>

        @if (Model.Selanjutnya is not null)
        {
            <div class="post-selanjutnya">
                <small>Post Selanjutnya</small>
                <a asp-action="Detail" asp-route-id="@Model.Selanjutnya.Id" class="judul-post">
                    @Model.Selanjutnya.KategoriBerita.Nama - @Model.Selanjutnya.Judul
                </a>
            </div>
        }
    </div>
</section>