@model List<Berita>

@{
    ViewData["Title"] = "Berita & Pengumuman";
}

<!-- ======================================= PENGANTAR ======================================= -->
<section id="berita-home">
    <h2>Berita & Pengumuman</h2>
</section>

<!-- ======================================= SECTION BERITA & PENGUMUMAN ======================================= -->
<section id="berita">
    <div class="judul-garis">
        <h2>Berita & Pengumuman</h2>
        <div class="garis-sisa"></div>
    </div>

    <div class="search-filter-container">
        <!-- Kolom Pencarian -->
        <div class="search-box">
            <input type="text" placeholder="Cari berita atau pengumuman...">
            <button type="button">Cari</button>
        </div>

        <!-- Tombol Filter -->
        <div class="filter-buttons">
            <button type="button">Semua</button>
            <button type="button">Berita</button>
            <button type="button">Pengumuman</button>
        </div>
    </div>



    <div class="berita-box">
        @foreach (var berita in Model)
        {
            <!-- Informasi -->
            <div class="beritas">
                <img src="@berita.Foto.OriginalString" alt="" />
                <div class="berita-details">
                    <a class="berita-details-judul" asp-route-id="@berita.Id" asp-action="Detail" asp-controller="Berita" asp-area="Profil">@berita.KategoriBerita.Nama - @berita.Judul</a>
                    <p class="berita-isi">
                        @Html.Raw(berita.Isi.Truncate(120, "..."))
                    </p>
                    <a class="berita-details-lanjut" asp-route-id="@berita.Id" asp-action="Detail" asp-controller="Berita" asp-area="Profil">Lihat Selengkapnya</a>
                </div>
                <div class="berita-tanggal">
                    <h2>@berita.Tanggal.Day</h2>
                    <h6>@berita.Tanggal.ToString("MMM, yyyy", CultureInfos.CI)</h6>
                </div>
            </div>
        }
    </div>

    <div class="pagination-container">
        <ul class="pagination">
            <li><a href="#" class="disabled">Sebelumnya</a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Selanjutnya</a></li>
        </ul>
    </div>
</section>