@using SIAkademik.Web.Areas.Profil.Models.BeritaModels
@model IndexVM

@inject IKategoriBeritaRepository KategoriBeritaRepository

@{
    ViewData["Title"] = "Berita & Pengumuman";

    var daftarKategori = await KategoriBeritaRepository.GetAll();
}

<!-- ======================================= PENGANTAR ======================================= -->
<section id="berita-home">
    <h2>Berita & Pengumuman</h2>
</section>

<!-- ======================================= SECTION BERITA & PENGUMUMAN ======================================= -->
<section id="berita">
    <div class="judul-garis">
        <h2>Berita & Pengumuman</h2>
        <div class="garis-sisa"></div>
    </div>

    <div class="search-filter-container">
        <!-- Kolom Pencarian -->
        <form asp-action="Index" asp-route-idKategoriBerita="@Model.IdKategoriBerita" method="get">
            <div class="search-box">
                <input asp-for="@Model.SearchString" type="text" placeholder="Cari berita atau pengumuman...">
                <button type="submit">Cari</button>
            </div>
        </form>

        <!-- Tombol Filter -->
        <div class="filter-buttons">
            @if (Model.IdKategoriBerita is null)
            {
                <a asp-action="Index" asp-route-searchString="@Model.SearchString" class="active">
                    Semua
                </a>
            }
            else
            {
                <a asp-action="Index" asp-route-searchString="@Model.SearchString">
                    Semua
                </a>
            }

            @foreach (var kategori in daftarKategori)
            {
                @if (kategori.Id == Model.IdKategoriBerita)
                {
                    <a asp-action="Index"
                       asp-route-searchString="@Model.SearchString"
                       asp-route-idKategoriBerita="@kategori.Id"
                       class="active">
                        @kategori.Nama
                    </a>
                }
                else
                {
                    <a asp-action="Index"
                       asp-route-searchString="@Model.SearchString"
                       asp-route-idKategoriBerita="@kategori.Id">
                        @kategori.Nama
                    </a>
                }
            }
        </div>
    </div>

    <div class="berita-box">
        @foreach (var berita in Model.DaftarBerita)
        {
            <!-- Informasi -->
            <div class="beritas">
                <img src="@berita.Foto.OriginalString" alt="" />
                <div class="berita-details">
                    <a class="berita-details-judul" asp-route-id="@berita.Id" asp-action="Detail" asp-controller="Berita" asp-area="Profil">@berita.KategoriBerita.Nama - @berita.Judul</a>
                    <p class="berita-isi">
                        @Html.Raw(berita.Isi.Truncate(120, "..."))
                    </p>
                    <a class="berita-details-lanjut" asp-route-id="@berita.Id" asp-action="Detail" asp-controller="Berita" asp-area="Profil">Lihat Selengkapnya</a>
                </div>
                <div class="berita-tanggal">
                    <h2>@berita.Tanggal.Day</h2>
                    <h6>@berita.Tanggal.ToString("MMM, yyyy", CultureInfos.CI)</h6>
                </div>
            </div>
        }
    </div>

    <div class="pagination-container">
        <ul class="pagination">
            @if (Model.DaftarBerita.HasPrevious)
            {
                <li>
                    <a asp-action="Index"
                       asp-route-idKategoriBerita="@Model.IdKategoriBerita"
                       asp-route-pageIndex="@Model.DaftarBerita.PreviousPageIndex"
                       asp-route-searchString="@Model.SearchString">
                        Sebelumnya
                    </a>
                </li>
            }
            else
            {
                <li><a href="#" class="disabled">Sebelumnya</a></li>
            }

            @foreach (var pageNumber in Model.DaftarBerita.PageNumbers)
            {
                if (pageNumber == Model.DaftarBerita.PageIndex)
                {
                    <li>
                        <a asp-action="Index"
                           asp-route-pageIndex="@pageNumber"
                           asp-route-idKategoriBerita="@Model.IdKategoriBerita"
                           asp-route-searchString="@Model.SearchString" class="active">
                            @(pageNumber + 1)
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-action="Index"
                           asp-route-pageIndex="@pageNumber"
                           asp-route-idKategoriBerita="@Model.IdKategoriBerita"
                           asp-route-searchString="@Model.SearchString">
                            @(pageNumber + 1)
                        </a>
                    </li>
                }
            }

            @if (Model.DaftarBerita.HasNext)
            {
                <li>
                    <a asp-action="Index"
                       asp-route-pageIndex="@Model.DaftarBerita.NextPageIndex"
                       asp-route-idKategoriBerita="@Model.IdKategoriBerita"
                       asp-route-searchString="@Model.SearchString">
                        Selanjutnya
                    </a>
                </li>
            }
            else
            {
                <li><a href="#" class="disabled">Selanjutnya</a></li>
            }
        </ul>
    </div>
</section>