@model List<Berita>

<!-- ======================================= PENGANTAR ======================================= -->
<section id="berita-home">
    <h2>Berita & Pengumuman</h2>
</section>

<!-- ======================================= SECTION BERITA & PENGUMUMAN ======================================= -->
<section id="berita">
    <div class="judul-garis">
        <h2>Berita & Pengumuman</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="berita-box">
        @foreach (var berita in Model)
        {
            <!-- Informasi -->
            <div class="beritas">
                <img src="@berita.Foto.OriginalString" alt="" />
                <div class="berita-details">
                    <a class="berita-details-judul" asp-route-id="@berita.Id" asp-action="Detail" asp-controller="Berita" asp-area="Profil">@berita.KategoriBerita.Nama - @berita.Judul</a>
                    <p class="berita-isi">
                        @Html.Raw(berita.Isi.Truncate(120, "..."))
                    </p>
                    <a class="berita-details-lanjut" asp-route-id="@berita.Id" asp-action="Detail" asp-controller="Berita" asp-area="Profil">Lihat Selengkapnya</a>
                </div>
                <div class="berita-tanggal">
                    <h2>@berita.Tanggal.Day</h2>
                    <h6>@berita.Tanggal.ToString("MMM, yyyy", CultureInfos.CI)</h6>
                </div>
            </div>
        }
    </div>
</section>