@using SIAkademik.Web.Areas.DashboardGuru.Models.PertemuanModels

@model EditVM

<form asp-action="Edit" asp-controller="Pertemuan" asp-route-idPertemuan="@Model.IdPertemuan" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTambahTitle">Mulai Pertemuan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label asp-for="@Model.Nomor"></label>
            <input asp-for="@Model.Nomor" class="form-control" />
            <span asp-validation-for="@Model.Nomor" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.TanggalPelaksanaan"></label>
            <input asp-for="@Model.TanggalPelaksanaan" type="date" class="form-control" />
            <span asp-validation-for="@Model.TanggalPelaksanaan" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Keterangan"></label>
            <textarea asp-for="@Model.Keterangan" class="form-control"></textarea>
            <span asp-validation-for="@Model.Keterangan" class="text-danger"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}