@using SIAkademik.Web.Areas.DashboardGuru.Models.RaportModels
@model DetailVM

@{
    var daftarSikap = Model.DaftarRaport.Where(r => r.KategoriNilai == KategoriNilaiRaport.Sikap);
    var daftarPengetahuan = Model.DaftarRaport.Where(r => r.KategoriNilai == KategoriNilaiRaport.Pengetahuan);
    var daftarKeterampilan = Model.DaftarRaport.Where(r => r.KategoriNilai == KategoriNilaiRaport.Keterampilan);
    var daftarEkstrakulikuler = Model.DaftarRaport.Where(r => r.KategoriNilai == KategoriNilaiRaport.Ekstrakulikuler);
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Wali Kelas</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardGuru" asp-controller="Raport" asp-action="Index">Rapor</a></li>
            <li class="breadcrumb-item" aria-current="page">Detail Rapor</li>
        </ol>
    </nav>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-warning">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Komponen Sikap</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <a asp-action="Tambah" asp-route-idSiswa="@Model.AnggotaRombel.IdSiswa" asp-route-idRombel="@Model.AnggotaRombel.IdRombel"
                           asp-route-kategori="@KategoriNilaiRaport.Sikap" class="btn btn-primary mb-2" data-toggle="tooltip" title="Tambah Komponen Sikap">
                            <i class="fas fa-plus"></i> Tambah Komponen Sikap
                        </a>
                    </div>
                    
                    <table class="table table-striped" id="table-akun">
                        <thead>
                            <tr>
                                <th style="min-width: 30px;">Id</th>
                                <th style="min-width: 80px;">Sikap</th>
                                <th style="min-width: 80px;">Predikat</th>
                                <th style="min-width: 80px;">Dekripsi</th>
                                <th style="min-width: 80px;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sikap in daftarSikap)
                            {
                                <tr>
                                    <td>@sikap.Id</td>
                                    <td>@sikap.Nama</td>
                                    <td>@sikap.Predikat</td>
                                    <td>@sikap.Deskripsi</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@sikap.Id" class="btn btn-primary mr-1"><i class="fas fa-pencil-alt"></i></a>
                                        <form asp-action="Hapus" asp-route-id="@sikap.Id" style="display:inline" class="btn-action swal-confirm" title="Hapus">
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-warning">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Komponen Pengetahuan</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="mb-3">
                            <a asp-action="Tambah" asp-route-idSiswa="@Model.AnggotaRombel.IdSiswa" asp-route-idRombel="@Model.AnggotaRombel.IdRombel"
                               asp-route-kategori="@KategoriNilaiRaport.Pengetahuan" class="btn btn-primary mb-2" data-toggle="tooltip" title="Tambah Komponen Pengetahuan">
                                <i class="fas fa-plus"></i> Tambah Komponen Pengetahuan
                            </a>
                        </div>
                        <div>
                            <form asp-action="IsiNilai" asp-route-idSiswa="@Model.AnggotaRombel.IdSiswa" asp-route-idRombel="@Model.AnggotaRombel.IdRombel">
                                <button type="submit" class="btn btn-success mb-3" data-toggle="tooltip" title="Refresh Nilai Pengetahuan dan Keterampilan"><i class="fas fa-arrows-rotate"></i> Refresh Nilai</button>
                            </form>
                        </div>
                    </div>
                    
                    <table class="table table-striped table-hover" id="table-akunn">
                        <thead>
                            <tr>
                                <th style="min-width: 30px;">Id</th>
                                <th style="min-width: 50px;">Mata Pelajaran</th>
                                <th style="min-width: 50px;">KKM</th>
                                <th style="min-width: 50px;">Nilai</th>
                                <th style="min-width: 50px;">Predikat</th>
                                <th style="min-width: 80px;">Dekripsi</th>
                                <th style="min-width: 80px;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pengetahuan in daftarPengetahuan)
                            {
                                <tr>
                                    <td>@pengetahuan.Id</td>
                                    <td>@pengetahuan.JadwalMengajar!.MataPelajaran.Nama</td>
                                    <td>@pengetahuan.JadwalMengajar!.MataPelajaran.KKM</td>
                                    <td>@pengetahuan.AnggotaRombel.NilaiAkhir(pengetahuan.JadwalMengajar!)</td>
                                    <td>@pengetahuan.Predikat</td>
                                    <td>@pengetahuan.Deskripsi</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@pengetahuan.Id" class="btn btn-primary mr-1"><i class="fas fa-pencil-alt"></i></a>
                                        <form asp-action="Hapus" asp-route-id="@pengetahuan.Id" style="display:inline" class="btn-action swal-confirm" title="Hapus">
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-warning">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Komponen Keterampilan</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <a asp-action="Tambah" asp-route-idSiswa="@Model.AnggotaRombel.IdSiswa" asp-route-idRombel="@Model.AnggotaRombel.IdRombel"
                           asp-route-kategori="@KategoriNilaiRaport.Keterampilan" class="btn btn-primary mb-2" data-toggle="tooltip" title="Tambah Komponen Keterampilan">
                            <i class="fas fa-plus"></i> Tambah Komponen Keterampilan
                        </a>
                    </div>                   
                    <table class="table table-striped table-hover" id="table-akun0">
                        <thead>
                            <tr>
                                <th style="min-width: 30px;">Id</th>
                                <th style="min-width: 30px;">Mata Pelajaran</th>
                                <th style="min-width: 30px;">KKM</th>
                                <th style="min-width: 30px;">Nilai</th>
                                <th style="min-width: 30px;">Predikat</ths>
                                <th style="min-width: 50px;">Dekripsi</th>
                                <th style="min-width: 80px;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var keterampilan in daftarKeterampilan)
                            {
                                <tr>
                                    <td>@keterampilan.Id</td>
                                    <td>@keterampilan.JadwalMengajar!.MataPelajaran.Nama</td>
                                    <td>@keterampilan.JadwalMengajar!.MataPelajaran.KKM</td>
                                    <td>@keterampilan.AnggotaRombel.NilaiAkhir(keterampilan.JadwalMengajar!)</td>
                                    <td>@keterampilan.Predikat</td>
                                    <td>@keterampilan.Deskripsi</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@keterampilan.Id" class="btn btn-primary mr-1"><i class="fas fa-pencil-alt"></i></a>
                                        <form asp-action="Hapus" asp-route-id="@keterampilan.Id" style="display:inline" class="btn-action swal-confirm" title="Hapus">
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-warning">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Komponen Ektrakurikuler</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <a asp-action="Tambah" asp-route-idSiswa="@Model.AnggotaRombel.IdSiswa" asp-route-idRombel="@Model.AnggotaRombel.IdRombel"
                           asp-route-kategori="@KategoriNilaiRaport.Ekstrakulikuler" class="btn btn-primary mb-2" data-toggle="tooltip" title="Tambah Komponen Ekstrakurikuler">
                            <i class="fas fa-plus"></i> Tambah Komponen Ekstrakurikuler
                        </a>
                    </div>                  
                    <table class="table table-striped table-hover" id="table-akun1">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Sikap</th>
                                <th>Predikat</th>
                                <th>Dekripsi</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ekstrakulikuler in daftarEkstrakulikuler)
                            {
                                <tr>
                                    <td>@ekstrakulikuler.Id</td>
                                    <td>@ekstrakulikuler.Nama</td>
                                    <td>@ekstrakulikuler.Predikat</td>
                                    <td>@ekstrakulikuler.Deskripsi</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@ekstrakulikuler.Id" class="btn btn-primary mr-1"><i class="fas fa-pencil-alt"></i></a>
                                        <form asp-action="Hapus" asp-route-id="@ekstrakulikuler.Id" style="display:inline" class="btn-action swal-confirm" title="Hapus">
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>