@using SIAkademik.Web.Areas.DashboardGuru.Models.RaportModels
@using SIAkademik.Web.Authentication
@model IndexVM

@inject ITahunAjaranRepository TahunAjaranRepository
@inject IRombelRepository RombelRepository
@inject IJadwalMengajarRepository JadwalMengajarRepository

@{
    ViewData["Title"] = "Raport";
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Wali Kelas</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardGuru" asp-controller="Raport" asp-action="Index"></a>Rapor</li>
        </ol>
    </nav>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h4>Daftar Rapor</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-between mb-3 align-items-center">

            <form asp-action="Index" method="get" class="d-flex">
                <div class="d-flex align-items-center mr-3" style="gap: 8px;">
                    <label asp-for="@Model.IdTahunAjaran" class="mb-0" style="font-weight: 600;">Tahun Ajaran:</label>
                    <select asp-for="@Model.IdTahunAjaran" name="idTahunAjaran" class="form-control w-auto submit-on-change">
                        @if (Model.TahunAjaran is null)
                        {
                            <option value="@null">-- Pilih Tahun Ajaran --</option>
                        }

                        @foreach (var tahunAjaran in daftarTahunAjaran)
                        {
                            <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                        }
                    </select>
                </div>

                <div class="d-flex align-items-center mr-2" style="gap: 8px;">
                    <label asp-for="@Model.IdRombel" class="mb-0" style="font-weight: 600;">Kelas:</label>
                    <select asp-for="@Model.IdRombel" class="form-control w-auto submit-on-change">
                        @if (Model.Rombel is null)
                        {
                            <option value="@null">-- Pilih Kelas --</option>
                        }

                        @if (Model.TahunAjaran is not null)
                        {
                            var daftarRombel = await RombelRepository.GetAll(Model.TahunAjaran.Id, Model.Pegawai.Id);

                            @foreach (var rombel in daftarRombel)
                            {
                                <option value="@rombel.Id">@rombel.Kelas.Jenjang.Humanize() @rombel.Kelas.Peminatan.Nama @rombel.Nama</option>
                            }
                        }
                    </select>
                </div>
            </form>
        </div>

        @if (Model.TahunAjaran is not null && Model.Rombel is not null)
        {
            var daftarJadwalMengajar = await JadwalMengajarRepository.GetAllByTahunAjaranAndRombel(Model.TahunAjaran.Id, Model.Rombel.Id);

            <form asp-action="RefreshNilai" asp-route-idTahunAjaran="@Model.TahunAjaran.Id" asp-route-idRombel="@Model.Rombel.Id">
                <button type="submit" class="btn btn-success">Refresh Nilai</button>
            </form>

            <div class="table-responsive">
                <table class="table table-striped table-hover" id="table-akun">
                    <thead>
                        <tr>
                            <th rowspan="2">NIS/NISN</th>
                            <th rowspan="2">Nama</th>
                            <th rowspan="2">Catatan Wali Kelas</th>
                            @if (Model.TahunAjaran.Semester == Semester.Genap)
                            {
                                <th rowspan="2">
                                    @if (Model.Rombel.Kelas.Jenjang == Jenjang.XII)
                                    {
                                        @("Kelulusan")
                                    }
                                    else
                                    {
                                        @("Kenaikan Kelas")
                                    }
                                </th>
                            }
                            <th rowspan="2">Nilai</th>
                            <th colspan="4">Kehadiran</th>
                            <th rowspan="2">Aksi</th>
                        </tr>
                        <tr>
                            <th>Hadir</th>
                            <th>Sakit</th>
                            <th>Ijin</th>
                            <th>Tanpa Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var anggota in Model.Rombel.DaftarAnggotaRombel)
                        {
                            <tr>
                                <td>@anggota.Siswa.NIS/@anggota.Siswa.NISN</td>
                                <td>@anggota.Siswa.Nama</td>
                                <td>@anggota.CatatanWaliKelas</td>
                                @if (Model.TahunAjaran.Semester == Semester.Genap)
                                {
                                    <td>
                                        @if (Model.Rombel.Kelas.Jenjang == Jenjang.XII)
                                        {
                                            @if (anggota.NaikKelasLulus)
                                            {
                                                @($"Lulus")
                                            }
                                            else
                                            {
                                                @($"Tidak lulus")
                                            }
                                        }
                                        else
                                        {
                                            @if (anggota.NaikKelasLulus)
                                            {
                                                @($"Naik Kelas")
                                            }
                                            else
                                            {
                                                @($"Tidak naik Kelas")
                                            }
                                        }
                                    </td>
                                }
                                <td style="padding: 0 !important">
                                    <button class="btn-tambah btn btn btn-warning" type="button">
                                        Detail
                                    </button>
                                    <div class="form-tambah" style="display:none">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Mata Pelajaran</th>
                                                    <th>Guru</th>
                                                    <th>Nilai</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var jadwal in daftarJadwalMengajar)
                                                {
                                                    <tr>
                                                        <td>@jadwal.MataPelajaran.Nama</td>
                                                        <td>@jadwal.Pegawai.Nama</td>
                                                        <td>@anggota.NilaiAkhir(jadwal)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                                <td>@anggota.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Hadir).Count()</td>
                                <td>@anggota.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Sakit).Count()</td>
                                <td>@anggota.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Ijin).Count()</td>
                                <td>@anggota.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Alpa).Count()</td>
                                <td>
                                    <button type="button" class="btn btn-primary" onclick="openEditModal(@anggota.Id)" data-toggle="tooltip" title="Edit">
                                        <i class="fas fa-pencil-alt mr-2"></i>Edit
                                    </button>
                                    <a asp-action="DetailCetak" asp-route-idSiswa="@anggota.Siswa.Id" asp-route-idRombel="@anggota.Rombel.Id" class="btn btn-warning" data-toggle="tooltip" title="Cetak">
                                        <i class="fas fa-eye"></i> Cetak
                                    </a>
                                    <a asp-action="RaportPDF" asp-route-idSiswa="@anggota.Siswa.Id" asp-route-idRombel="@anggota.Rombel.Id"
                                       asp-route-download="@true" target="_blank" class="btn btn-primary" data-toggle="tooltip" title="Download">
                                        <i class="fas fa-eye"></i> Download
                                    </a>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h1>Pilih Tahun Ajaran atau Kelas</h1>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function openEditModal(id) {
            const url = '@Html.Raw(Url.Action("EditCatatanWaliKelasPartial", "Raport", new { idTahunAjaran = Model.IdTahunAjaran, idRombel = Model.IdRombel }))' + '&idAnggotaRombel=' + id;
            $('#modalEditContent').load(url, function(response, status, xhr) {
                if (status == "error") {
                    console.log("Gagal Load form edit catatan wali kelas!");
                }
                else {
                    $("form").removeData("validator").removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse("form");

                    $("#modalEdit").modal("show");
                }
            });
        }
    </script>
}