@using SIAkademik.Web.Areas.DashboardGuru.Models.RaportModels
@using SIAkademik.Web.Authentication
@model IndexVM

@inject ITahunAjaranRepository TahunAjaranRepository
@inject IRombelRepository RombelRepository
@inject IJadwalMengajarRepository JadwalMengajarRepository

@{
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Wali Kelas</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardGuru" asp-controller="Raport" asp-action="Index"></a>Rapor</li>
        </ol>
    </nav>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h4>Daftar Rapor</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-between mb-3 align-items-center">

            <form asp-action="Index" method="get" class="d-flex">
                <div class="d-flex align-items-center mr-3" style="gap: 8px;">
                    <label asp-for="@Model.IdTahunAjaran" class="mb-0" style="font-weight: 600;">Tahun Ajaran:</label>
                    <select asp-for="@Model.IdTahunAjaran" name="idTahunAjaran" class="form-control w-auto submit-on-change">
                        @if (Model.TahunAjaran is null)
                        {
                            <option value="@null">-- Pilih Tahun Ajaran --</option>
                        }

                        @foreach (var tahunAjaran in daftarTahunAjaran)
                        {
                            <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                        }
                    </select>
                </div>

                <div class="d-flex align-items-center mr-2" style="gap: 8px;">
                    <label asp-for="@Model.IdRombel" class="mb-0" style="font-weight: 600;">Kelas:</label>
                    <select asp-for="@Model.IdRombel" class="form-control w-auto submit-on-change">
                        @if (Model.Rombel is null)
                        {
                            <option value="@null">-- Pilih Kelas --</option>
                        }

                        @if (Model.TahunAjaran is not null)
                        {
                            var daftarRombel = await RombelRepository.GetAllByTahunAjaran(Model.TahunAjaran.Id);

                            @foreach (var rombel in daftarRombel.Where(r => r.Wali == Model.Pegawai))
                            {
                                <option value="@rombel.Id">@rombel.Kelas.Jenjang.Humanize() @rombel.Kelas.Peminatan.Nama @rombel.Nama</option>
                            }
                        }
                    </select>
                </div>
            </form>
        </div>

        @if (Model.TahunAjaran is not null && Model.Rombel is not null)
        {
            var daftarJadwalMengajar = await JadwalMengajarRepository.GetAllByTahunAjaranAndRombel(Model.TahunAjaran.Id, Model.Rombel.Id);

            <form asp-action="ProsesNaikKelasLulus" asp-route-idTahunAjaran="@Model.TahunAjaran.Id" asp-route-idRombel="@Model.Rombel.Id">
                <button type="submit" class="btn btn-primary">Proses @(Model.Rombel.Kelas.Jenjang == Jenjang.XII ? "Lulus" : "Naik Kelas")</button>

                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table-akun">
                        <thead>
                            <tr>
                                <th rowspan="2" width="5%"><input type="checkbox" id="selectAll" class="select-all" /></th>
                                <th rowspan="2">NIS/NISN</th>
                                <th rowspan="2">Nama</th>
                                <th rowspan="2">Catatan Wali Kelas</th>
                                <th rowspan="2">
                                    @if (Model.Rombel.Kelas.Jenjang == Jenjang.XII)
                                    {
                                        @("Kelulusan")
                                    }
                                    else
                                    {
                                        @("Kenaikan Kelas")
                                    }
                                </th>
                                <th colspan="3">Nilai</th>
                                <th colspan="4">Kehadiran</th>
                                <th rowspan="2">Aksi</th>
                            </tr>
                            <tr>
                                <th>Mata Pelajaran</th>
                                <th>Guru</th>
                                <th>Nilai</th>
                                <th>Hadir</th>
                                <th>Sakit</th>
                                <th>Ijin</th>
                                <th>Tanpa Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DaftarEntryVM.Count; i++)
                            {
                                var anggota = Model.DaftarEntryVM[i].AnggotaRombel;
                                <tr>
                                    <td>
                                        <input asp-for="@Model.DaftarEntryVM[@i].Selected" type="checkbox" data-checkbox-all="#selectAll" />
                                        <input asp-for="@Model.DaftarEntryVM[@i].IdAnggotaRombel" readonly hidden />
                                    </td>
                                    <td>@anggota.Siswa.NIS/@anggota.Siswa.NISN</td>
                                    <td>@anggota.Siswa.Nama</td>
                                    <td>@anggota.CatatanWaliKelas</td>
                                    <td>
                                        @if (Model.Rombel.Kelas.Jenjang == Jenjang.XII)
                                        {
                                            @if (anggota.NaikKelasLulus)
                                            {
                                                @($"Lulus")
                                            }
                                            else
                                            {
                                                @($"Tidak lulus")
                                            }
                                        }
                                        else
                                        {
                                            @if (anggota.NaikKelasLulus)
                                            {
                                                @($"Naik Kelas")
                                            }
                                            else
                                            {
                                                @($"Tidak naik Kelas")
                                            }
                                        }
                                    </td>
                                    <td colspan="3" style="padding: 0 !important">
                                        <table>
                                            <tbody>
                                                @foreach (var jadwal in daftarJadwalMengajar)
                                                {
                                                    <tr>
                                                        <td>@jadwal.MataPelajaran.Nama</td>
                                                        <td>@jadwal.Pegawai.Nama</td>
                                                        <td>@anggota.NilaiAkhir(jadwal)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>@anggota.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Hadir).Count()</td>
                                    <td>@anggota.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Sakit).Count()</td>
                                    <td>@anggota.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Ijin).Count()</td>
                                    <td>@anggota.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Alpa).Count()</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-edit" data-toggle="tooltip" title="Edit Ekstrakulikuler">
                                            <i class="fas fa-pencil-alt mr-2"></i>Edit
                                        </button>
                                        <div class="form-edit" style="display:none"></div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        }
        else
        {
            <h1>Pilih Tahun Ajaran atau Kelas</h1>
        }
    </div>
</div>