@using SIAkademik.Web.Areas.DashboardGuru.Models.RaportModels
@model TambahVM

@inject IJadwalMengajarRepository JadwalMengajarRepository
@inject IRombelRepository RombelRepository

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Wali Kelas</a></li>
                <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardGuru" asp-controller="Raport" asp-action="Index">Rapor</a></li>
                <li class="breadcrumb-item"><a href=""> Detail Rapor</a></li>
                <li class="breadcrumb-item" aria-current="page">Tambah Data</li>
            </ol>
        </nav>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-danger">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Data Nilai</h4>
                </div>

                <form asp-action="Tambah" method="post" class="container">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>

                        <input asp-for="@Model.IdSiswa" class="form-control" readonly hidden />
                        <input asp-for="@Model.IdRombel" class="form-control" readonly hidden />
                        <input asp-for="@Model.Kategori" class="form-control" readonly hidden />


                        @if (Model.Kategori == KategoriNilaiRaport.Sikap || Model.Kategori == KategoriNilaiRaport.Ekstrakulikuler)
                        {
                            <div class="form-group">
                                <label asp-for="@Model.Nama"></label>
                                <input asp-for="@Model.Nama" class="form-control" />
                                <span asp-validation-for="@Model.Nama"></span>
                            </div>
                        }

                        <div class="form-group">
                            <label asp-for="@Model.Predikat"></label>
                            <input asp-for="@Model.Predikat" class="form-control" />
                            <span asp-validation-for="@Model.Predikat"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Dekripsi"></label>
                            <textarea asp-for="@Model.Dekripsi" class="form-control"> </textarea>
                            <span asp-validation-for="@Model.Dekripsi"></span>
                        </div>

                        @if (Model.Kategori == KategoriNilaiRaport.Pengetahuan || Model.Kategori == KategoriNilaiRaport.Keterampilan)
                        {
                            var rombel = (await RombelRepository.Get(Model.IdRombel))!;

                            <div class="form-group">
                                <label asp-for="@Model.IdJadwalMengajar"></label>
                                <select asp-for="@Model.IdJadwalMengajar" class="form-control">
                                    @foreach (var jadwal in rombel.DaftarJadwalMengajar)
                                    {
                                        <option value="@jadwal.Id">@rombel.Kelas.Jenjang.Humanize() @rombel.Kelas.Peminatan.Nama @rombel.Nama - @jadwal.MataPelajaran.Nama</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.IdJadwalMengajar"></span>
                            </div>
                        }

                    </div>
                                     
                    <div class="card-footer text-right pt-0">
                        <a href="javascript:void(0)" class="btn btn-danger text-white swal-cancel">Batal</a>
                        <button class="btn btn-primary mr-1" type="submit">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}