@using SIAkademik.Web.Areas.DashboardGuru.Models.RaportModels
@model TambahVM

@inject IJadwalMengajarRepository JadwalMengajarRepository
@inject IRombelRepository RombelRepository

<form asp-action="Tambah" method="post" class="container">
    <div asp-validation-summary="ModelOnly"></div>

    <input asp-for="@Model.IdSiswa" readonly hidden/>
    <input asp-for="@Model.IdRombel" readonly hidden/>
    <input asp-for="@Model.Kategori" readonly hidden/>


    @if(Model.Kategori == KategoriNilaiRaport.Sikap || Model.Kategori == KategoriNilaiRaport.Ekstrakulikuler)
    {
        <div class="row">
            <label asp-for="@Model.Nama"></label>
            <input asp-for="@Model.Nama" />
            <span asp-validation-for="@Model.Nama"></span>
        </div>
    }

    <div class="row">
        <label asp-for="@Model.Predikat"></label>
        <input asp-for="@Model.Predikat" />
        <span asp-validation-for="@Model.Predikat"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.Dekripsi"></label>
        <textarea asp-for="@Model.Dekripsi">
        </textarea>
        <span asp-validation-for="@Model.Dekripsi"></span>
    </div>

    @if (Model.Kategori == KategoriNilaiRaport.Pengetahuan || Model.Kategori == KategoriNilaiRaport.Keterampilan)
    {
        var rombel = (await RombelRepository.Get(Model.IdRombel))!;

        <div class="row">
            <label asp-for="@Model.IdJadwalMengajar"></label>
            <select asp-for="@Model.IdJadwalMengajar">
                @foreach(var jadwal in rombel.DaftarJadwalMengajar)
                {
                    <option value="@jadwal.Id">@rombel.Kelas.Jenjang.Humanize() @rombel.Kelas.Peminatan.Humanize() @rombel.Nama - @jadwal.MataPelajaran.Nama</option>
                }
            </select>
            <span asp-validation-for="@Model.IdJadwalMengajar"></span>
        </div>
    }

    <button type="submit">Simpan</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}