@inject ISignInManager SignInManager

@{
    var siswa = (await SignInManager.GetSiswa())!;
    var namaLengkap = siswa.Nama;
    var namaDepan = namaLengkap?.Split(' ', StringSplitOptions.RemoveEmptyEntries).FirstOrDefault();
}

<div class="navbar-bg"></div>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li>
                <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
                    <i data-feather="align-justify"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                    <i data-feather="maximize"></i>
                </a>
            </li>
            @* <li>
                <form class="form-inline mr-auto">
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </li> *@
        </ul>
    </div>
    <ul class="navbar-nav d-flex align-items-center">
        <!-- Info siswa -->
        <li class="nav-item d-flex flex-column text-right text-md-right me-2">
            <p class="mb-0 mt-1 fw-semibold" style="line-height: normal">
                Halo,
                <b class="nama-lengkap">@siswa.Nama</b>
                <b class="nama-depan" style="display:none">@namaDepan</b>
            </p>            
            <p class="mb-0" style="line-height: normal">Siswa</p>
        </li>

        <!-- Foto profil dropdown -->
        <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user p-0">
                @if (siswa.FotoProfil is not null)
                {
                    <img alt="Foto Profil" src="@siswa.FotoProfil.OriginalString" class="user-img-radious-style">
                }
                else
                {
                    var inisial = string.Join("", siswa.Nama.Split(' ', StringSplitOptions.RemoveEmptyEntries).Select(n => n[0])).ToUpperInvariant();
                    if (inisial.Length > 2) inisial = inisial.Substring(0, 2);

                    <div class="fotoprofilkecil user-img-radious-style d-flex justify-content-center align-items-center">
                        @inisial
                    </div>
                }
            </a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
                <a asp-action="Profil" asp-controller="Home" asp-area="@AreaNames.DashboardSiswa" class="dropdown-item has-icon">
                    <i class="far fa-user"></i> Profil
                </a>
                <a href="#" class="dropdown-item has-icon" data-toggle="modal" data-target="#modalKontak">
                    <i class="fas fa-comments"></i> Kontak
                </a>
                <form asp-action="Logout" asp-controller="Home" asp-area="@AreaNames.DashboardSiswa">
                    <button type="submit" class="dropdown-item has-icon text-danger" style="font-size: 13px;">
                        <i class="fas fa-sign-out-alt"></i> Keluar
                    </button>
                </form>
            </div>
        </li>
    </ul>

</nav>