@using SIAkademik.Web.Areas.DashboardSiswa.Models.RaportModels
@model IndexVM

@inject ITahunAjaranRepository TahunAjaranRepository

@{
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
    var daftarSikap = Model.DaftarRaport.Where(r => r.KategoriNilai == KategoriNilaiRaport.Sikap);
    var daftarPengetahun = Model.DaftarRaport.Where(r => r.KategoriNilai == KategoriNilaiRaport.Pengetahuan);
    var daftarKeterampilan = Model.DaftarRaport.Where(r => r.KategoriNilai == KategoriNilaiRaport.Keterampilan);
    var daftarEkstrakulikuler = Model.DaftarRaport.Where(r => r.KategoriNilai == KategoriNilaiRaport.Ekstrakulikuler);
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Akademik</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardSiswa" asp-controller="EvaluasiSiswa" asp-action="Index"></a>Rapor</li>
        </ol>
    </nav>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-primary mb-2">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Rapor Siswa</h4>
                </div>
                <div class="card-body rounded" style="background-color: #f0f7fd; margin-left: 25px; margin-right: 25px; margin-bottom: 20px;">
                    <div class="row">
                        <!-- Kolom kiri -->
                        <div class="col-md-6">
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">NISN/NIS</div>
                                <div class="col">@Model.Siswa.NISN/@Model.Siswa.NIS</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Nama</div>
                                <div class="col">@Model.Siswa.Nama</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Status</div>
                                <div class="col">@Model.Siswa.StatusAktif.Humanize()</div>
                            </div>
                        </div>

                        <!-- Kolom kanan -->
                        <div class="col-md-6">
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Jenjang</div>
                                <div class="col">@Model.Siswa.Jenjang.Humanize()</div>
                            </div>
                            @if (Model.AnggotaRombel is not null)
                            {
                                <div class="row mb-1">
                                    <div class="col-3" style="font-weight:600;">Wali Kelas</div>
                                    <div class="col">@Model.AnggotaRombel.Rombel.Wali.Nama</div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-3" style="font-weight:600;">Kelas</div>
                                    <div class="col">@Model.AnggotaRombel.Rombel.Kelas.Jenjang.Humanize() @Model.AnggotaRombel.Rombel.Kelas.Peminatan.Nama @Model.AnggotaRombel.Rombel.Nama</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card">

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <form asp-action="Index" method="get" class="d-flex align-items-center" style="gap: 8px;">
                            <label for="idTahunAjaran" class="mb-0" style="font-weight: 600;">Tahun Ajaran:</label>
                            <select asp-for="@Model.IdTahunAjaran" class="form-control form-control-sm w-auto">
                                @if (Model.IdTahunAjaran is null)
                                {
                                    <option value="@null">-- Pilih Tahun Ajaran</option>
                                }
                                @foreach (var tahunAjaran in daftarTahunAjaran)
                                {
                                    <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                                }
                            </select>
                        </form>

                        @if (Model.AnggotaRombel is not null)
                        {
                            <a asp-action="Cetak" asp-route-idRombel="@Model.AnggotaRombel.IdRombel" class="btn btn-warning"><i class="fas fa-print"></i> Cetak Rapor</a>
                        }
                    </div>

                    <div class="card-header pr-0 pl-0" style="padding-top: 20px;">
                        <h4>Sikap</h4>
                    </div>

                    <div class="card-body pr-0 pl-0">
                        <table class="table table-striped table-hover" id="table-akun">
                            <thead>
                                <tr>
                                    <th>Sikap</th>
                                    <th>Predikat</th>
                                    <th>Dekripsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TahunAjaran is null)
                                {
                                    <tr>
                                        <td colspan="3">Belum ada tahun ajaran yang dibuka</td>
                                    </tr>
                                }
                                else
                                {
                                    @if (Model.AnggotaRombel is null)
                                    {
                                        <tr>
                                            <td colspan="3">Tidak ada kelas di tahun ajaran ini</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var raport in daftarSikap)
                                        {
                                            <tr>
                                                <td>@raport.Nama</td>
                                                <td>@raport.Predikat</td>
                                                <td>@raport.Deskripsi</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>     
                    

                    <div class="card-header pr-0 pl-0" style="padding-top: 20px;">
                        <h4>Pengetahuan</h4>
                    </div>

                    <div class="card-body pr-0 pl-0">
                        <table class="table table-striped table-hover" id="table-akunn">
                            <thead>
                                <tr>
                                    <th>Mata Pelajaran</th>
                                    <th>Nilai</th>
                                    <th>Predikat</th>
                                    <th>Dekripsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TahunAjaran is null)
                                {
                                    <tr>
                                        <td colspan="4">Belum ada tahun ajaran yang dibuka</td>
                                    </tr>
                                }
                                else
                                {
                                    @if (Model.AnggotaRombel is null)
                                    {
                                        <tr>
                                            <td colspan="4">Tidak ada kelas di tahun ajaran ini</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var raport in daftarPengetahun)
                                        {
                                            <tr>
                                                <td>@raport.JadwalMengajar!.MataPelajaran.Nama</td>
                                                <td>@Model.AnggotaRombel.NilaiAkhir(raport.JadwalMengajar!)</td>
                                                <td>@raport.Predikat</td>
                                                <td>@raport.Deskripsi</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>


                    <div class="card-header pr-0 pl-0" style="padding-top: 20px;">
                        <h4>Keterampilan</h4>
                    </div>

                    <div class="card-body pr-0 pl-0">
                        <table class="table table-striped table-hover" id="table-akun0">
                            <thead>
                                <tr>
                                    <th>Mata Pelajaran</th>
                                    <th>Nilai</th>
                                    <th>Predikat</th>
                                    <th>Dekripsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TahunAjaran is null)
                                {
                                    <tr>
                                        <td colspan="4">Belum ada tahun ajaran yang dibuka</td>
                                    </tr>
                                }
                                else
                                {
                                    @if (Model.AnggotaRombel is null)
                                    {
                                        <tr>
                                            <td colspan="4">Tidak ada kelas di tahun ajaran ini</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var raport in daftarKeterampilan)
                                        {
                                            <tr>
                                                <td>@raport.JadwalMengajar!.MataPelajaran.Nama</td>
                                                <td>@Model.AnggotaRombel.NilaiAkhir(raport.JadwalMengajar!)</td>
                                                <td>@raport.Predikat</td>
                                                <td>@raport.Deskripsi</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>


                    <div class="card-header pr-0 pl-0" style="padding-top: 20px;">
                        <h4>Ekstrakulikuler</h4>
                    </div>

                    <div class="card-body pr-0 pl-0">
                        <table class="table table-striped table-hover" id="table-akun1">
                            <thead>
                                <tr>
                                    <th>Ekstrakulikuler</th>
                                    <th>Predikat</th>
                                    <th>Dekripsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TahunAjaran is null)
                                {
                                    <tr>
                                        <td colspan="3">Belum ada tahun ajaran yang dibuka</td>
                                    </tr>
                                }
                                else
                                {
                                    @if (Model.AnggotaRombel is null)
                                    {
                                        <tr>
                                            <td colspan="3">Tidak ada kelas di tahun ajaran ini</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var raport in daftarEkstrakulikuler)
                                        {
                                            <tr>
                                                <td>@raport.Nama</td>
                                                <td>@raport.Predikat</td>
                                                <td>@raport.Deskripsi</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('select#IdTahunAjaran').on('change', function() {
                $(this).closest('form').trigger('submit');
            });
        });
    </script>
}