@using SIAkademik.Web.Areas.DashboardAdmin.Models.SiswaModels
@model IndexVM

@{
    var daftarSiswa = Model.DaftarSiswa
                .Where(s =>
                    (Model.Jenjang is null || s.Jenjang == Model.Jenjang) &&
                    (Model.Agama is null || s.Agama == Model.Agama) &&
                    (Model.TanggalMasuk is null || s.TanggalMasuk == Model.TanggalMasuk) &&
                    (Model.JenisKelamin is null || s.JenisKelamin == Model.JenisKelamin) &&
                    (Model.Jenjang is null || s.Jenjang == Model.Jenjang) &&
                    (Model.StatusAktif is null || s.StatusAktif == Model.StatusAktif)
                );
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Manajemen Peserta Didik</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="Siswa" asp-action="Index"></a>Siswa</li>
        </ol>
    </nav>
</div>

<!-- Isi Konten -->
<div class="card card-primary">
    <!-- Judul -->
    <div class="card-header">
        <h4>Daftar Siswa</h4>
    </div>
    <div class="padding-20">
        <!-- Tombol Tambah dan Filter -->
        <form asp-action="Index" method="get" class="row">
            <label asp-for="@Model.JenisKelamin" class="mb-0" style="font-weight: 600;">Jenis Kelamin:</label>
            <select asp-for="@Model.JenisKelamin" class="form-control form-control-sm w-auto submit-on-change">
                <option value="@null">-- Semua --</option>

                @foreach (var jk in Enum.GetValues<JenisKelamin>())
                {
                    <option value="@jk">@jk.Humanize()</option>
                }
            </select>

            <label asp-for="@Model.Agama" class="mb-0" style="font-weight: 600;">Agama:</label>
            <select asp-for="@Model.Agama" class="form-control form-control-sm w-auto submit-on-change">
                <option value="@null">-- Semua --</option>

                @foreach (var agama in Enum.GetValues<Agama>())
                {
                    <option value="@agama">@agama.Humanize(LetterCasing.Title)</option>
                }
            </select>

            <label asp-for="@Model.StatusAktif" class="mb-0" style="font-weight: 600;">Status Aktif:</label>
            <select asp-for="@Model.StatusAktif" class="form-control form-control-sm w-auto submit-on-change">
                <option value="@null">-- Semua --</option>

                @foreach (var status in Enum.GetValues<StatusAktifMahasiswa>())
                {
                    <option value="@status">@status.Humanize(LetterCasing.Title)</option>
                }
            </select>

            <label asp-for="@Model.TanggalMasuk" class="mb-0" style="font-weight: 600;">Tanggal Masuk:</label>
            <select asp-for="@Model.TanggalMasuk" class="form-control form-control-sm w-auto submit-on-change">
                <option value="@null">-- Semua --</option>

                @foreach (var tanggalMasuk in Model.DaftarSiswa.Select(s => s.TanggalMasuk).Distinct())
                {
                    <option value="@tanggalMasuk.ToString("yyyy/MM/dd")">@tanggalMasuk.ToString("dd/MM/yyyy", CultureInfos.CI)</option>
                }
            </select>

            <label asp-for="@Model.Jenjang" class="mb-0" style="font-weight: 600;">Jenjang:</label>
            <select asp-for="@Model.Jenjang" class="form-control form-control-sm w-auto submit-on-change">
                <option value="@null">-- Semua --</option>

                @foreach (var jenjang in Enum.GetValues<Jenjang>())
                {
                    <option value="@jenjang">@jenjang.Humanize()</option>
                }
            </select>
        </form>

        <div class="d-flex justify-content-start ml-auto mb-3">
            <div class="mb-0">
                <a class="btn btn-icon icon-left btn-primary mr-1" asp-action="Tambah"
                   data-toggle="tooltip" title="Tambah Data Siswa Baru">
                    <i class="fas fa-plus"></i> Tambah Siswa
                </a>

                <a class="btn btn-icon icon-left btn-success" data-toggle="tooltip" title="Import Data Siswa">
                    <i class="fas fa-file-upload"></i> Import Data Siswa
                </a>
            </div>

            <div class="d-flex justify-content-center align-items-center pr-3 ml-auto">
                <div class="mb-0 mr-2">
                    <button class="btn btn-icon icon-left btn-info" id="toggleFilter">
                        <i class="fas fa-filter"></i> Filter
                    </button>
                </div>

                <div class="mb-0">
                    <a href="" class="btn btn-icon icon-left btn-success" id="refreshButton">
                        <i class="fas fa-sync-alt"></i> Refresh
                    </a>
                </div>
            </div>
        </div>

        <!-- Tabel -->
        <div class="table-responsive">
            <table class="table table-striped" id="save-stage">
                <thead>
                    <tr>
                        <th style="min-width: 100px">Id</th>
                        <th style="min-width: 100px">NISN</th>
                        <th style="min-width: 100px">NIS</th>
                        <th style="min-width: 200px">Nama</th>
                        <th style="min-width: 100px">Agama</th>
                        <th style="min-width: 100px">Jenis Kelamin</th>
                        <th style="min-width: 100px">TTL</th>
                        <th style="min-width: 100px">Tanggal Masuk</th>
                        <th style="min-width: 100px">Status Aktif</th>
                        <th style="min-width: 100px">Jenjang</th>
                        <th style="min-width: 100px">Biodata Lengkap?</th>
                        <th style="min-width: 130px">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var siswa in daftarSiswa)
                    {
                        <tr>
                            <td>@siswa.Id</td>
                            <td>@siswa.NISN</td>
                            <td>@siswa.NIS</td>
                            <td>@siswa.Nama</td>
                            <td>@siswa.Agama.Humanize(LetterCasing.Title)</td>
                            <td>@siswa.JenisKelamin.Humanize()</td>
                            <td>@siswa.TTL</td>
                            <td>@siswa.TanggalMasuk.ToString(CultureInfos.CI.DateTimeFormat.ShortDatePattern, CultureInfos.CI)</td>
                            <td>@siswa.StatusAktif.Humanize()</td>
                            <td>@siswa.Jenjang.Humanize()</td>
                            <td>
                                @if (siswa.IsBiodataComplete())
                                {
                                    @("Lengkap")
                                }
                                else
                                {
                                    @("Tidak Lengkap")
                                }
                            </td>
                            <td>
                                <a class="btn btn-warning" data-toggle="tooltip" title="Detail Biodata Siswa"><i class="fas fa-eye"></i></a>

                                <a asp-action="Edit" asp-route-id="@siswa.Id" class="btn btn-primary btn-action" data-toggle="tooltip" title="Edit Data Siswa">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <form asp-action="Hapus" asp-route-id="@siswa.Id" style="display:inline" method="post">
                                    <button type="button" class="btn btn-danger btn-action swal-confirm" data-toggle="tooltip" title="Hapus Data Siswa">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>