@model List<Siswa>

<div class="card card-primary">
    <div class="card-header">
        <h4>Daftar Data Siswa</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-start ml-auto mb-2">

            <div class="mb-0">
                <a class="btn btn-icon icon-left btn-primary" asp-action="Tambah"
                   data-toggle="tooltip" title="Tambah Data Siswa Baru">
                    <i class="fas fa-plus"></i> Tambah Siswa
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover" id="table-akun-1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>NISN</th>
                        <th>NIS</th>
                        <th width="150px">Nama</th>
                        <th>Agama</th>
                        <th>Jenis Kelamin</th>
                        <th width="150px">TTL</th>
                        <th>Tanggal Masuk</th>
                        <th>Biodata Lengkap?</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var siswa in Model)
                    {
                        <tr>
                            <td>@siswa.Id</td>
                            <td>@siswa.NISN</td>
                            <td>@siswa.NIS</td>
                            <td>@siswa.Nama</td>
                            <td>@siswa.Agama.Humanize()</td>
                            <td>@siswa.JenisKelamin.Humanize()</td>
                            <td>@siswa.TTL</td>
                            <td>@siswa.TanggalMasuk.ToString(CultureInfos.CI.DateTimeFormat.ShortDatePattern, CultureInfos.CI)</td>
                            <td>
                                @if (siswa.IsBiodataComplete())
                                {
                                    @("Lengkap")
                                }
                                else
                                {
                                    @("Tidak Lengkap")
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-nip="@siswa.Id" class="btn btn-primary btn-action" data-toggle="tooltip" title="Edit Data Siswa">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <form asp-action="Hapus" asp-route-nip="@siswa.Id" style="display:inline">
                                    <button type="submit" class="btn btn-danger btn-action" data-toggle="tooltip" title="Hapus Data Siswa">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>