@model List<Siswa>

@{
    var showTidakAktif = ViewData["showTidakAktif"] as bool?;
    showTidakAktif ??= false;
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Manajemen Peserta Didik</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="Siswa" asp-action="Index"></a>Siswa</li>
        </ol>
    </nav>
</div>

<!-- Isi Konten -->
<div class="card card-primary">
    <!-- Judul -->
    <div class="card-header">
        <h4>Daftar Siswa</h4>
    </div>
    <div class="padding-20">
        <!-- Tombol Tambah dan Filter -->
        <div class="d-flex justify-content-start ml-auto mb-3">
            <div class="mb-0">
                <a class="btn btn-icon icon-left btn-primary" asp-action="Tambah"
                   data-toggle="tooltip" title="Tambah Data Siswa Baru">
                    <i class="fas fa-plus"></i> Tambah Siswa
                </a>
            </div>

            <div class="ml-auto mr-3">
                <form asp-action="Index" method="get" class="d-flex align-items-center" style="gap: 8px;">
                    <label for="showTidakAktif" class="mb-0" style="font-weight: 600;">Siswa Tidak Aktif:</label>
                    <select id="showTidakAktif" name="showTidakAktif" class="form-control form-control-sm w-auto">
                        @if(showTidakAktif.Value)
                        {
                            <option value="@true" selected>Tampilkan</option>
                            <option value="@false">Tidak Tampilkan</option>
                        }
                        else
                        {
                            <option value="@true">Tampilkan</option>
                            <option value="@false" selected>Tidak Tampilkan</option>
                        }
                    </select>
                </form>
            </div>
        </div>

        <!-- Tabel -->
        <div class="table-responsive">
            <table class="table table-striped" id="save-stage">
                <thead>
                    <tr>
                        <th style="min-width: 100px">Id</th>
                        <th style="min-width: 100px">NISN</th>
                        <th style="min-width: 100px">NIS</th>
                        <th style="min-width: 200px">Nama</th>
                        <th style="min-width: 100px">Agama</th>
                        <th style="min-width: 100px">Jenis Kelamin</th>
                        <th style="min-width: 100px">TTL</th>
                        <th style="min-width: 100px">Tanggal Masuk</th>
                        <th style="min-width: 100px">Status Aktif</th>
                        <th style="min-width: 100px">Jenjang</th>
                        <th style="min-width: 100px">Biodata Lengkap?</th>
                        <th style="min-width: 130px">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var siswa in Model)
                    {
                        <tr>
                            <td>@siswa.Id</td>
                            <td>@siswa.NISN</td>
                            <td>@siswa.NIS</td>
                            <td>@siswa.Nama</td>
                            <td>@siswa.Agama.Humanize()</td>
                            <td>@siswa.JenisKelamin.Humanize()</td>
                            <td>@siswa.TTL</td>
                            <td>@siswa.TanggalMasuk.ToString(CultureInfos.CI.DateTimeFormat.ShortDatePattern, CultureInfos.CI)</td>
                            <td>@siswa.StatusAktif.Humanize()</td>
                            <td>@siswa.Jenjang.Humanize()</td>
                            <td>
                                @if (siswa.IsBiodataComplete())
                                {
                                    @("Lengkap")
                                }
                                else
                                {
                                    @("Tidak Lengkap")
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@siswa.Id" class="btn btn-primary btn-action" data-toggle="tooltip" title="Edit Data Siswa">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <form asp-action="Hapus" asp-route-id="@siswa.Id" style="display:inline" method="post">
                                    <button type="button" class="btn btn-danger btn-action swal-confirm" data-toggle="tooltip" title="Hapus Data Siswa">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('select#showTidakAktif').on('change', function() {
                $(this).closest('form').trigger('submit');
            })
        })
    </script>
}