@using SIAkademik.Web.Areas.DashboardAdmin.Models.SiswaModels
@model IndexVM

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Manajemen Peserta Didik</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="Siswa" asp-action="Index"></a>Siswa</li>
        </ol>
    </nav>
</div>

<!-- Isi Konten -->
<div class="card card-primary">
    <!-- Judul -->
    <div class="card-header">
        <h4>Daftar Siswa</h4>
    </div>
    <div class="padding-20">
        <!-- Tombol Tambah dan Filter -->
        <form asp-action="Index" method="post" class="row">
            <div class="col-4">
                <label asp-for="@Model.JenisKelamin" class="mb-0" style="font-weight: 600;">Jenis Kelamin:</label>
                @for (int i = 0; i < Model.JenisKelamin.Count; i++)
                {
                    <div>
                        <input asp-for="@Model.JenisKelamin[@i].Value" hidden readonly />
                        <input asp-for="@Model.JenisKelamin[@i].Selected" class="submit-on-change" type="checkbox" />
                        @Model.JenisKelamin[i].Value.Humanize()
                    </div>
                }
            </div>

            <div class="col-4">
                <label asp-for="@Model.Agama" class="mb-0" style="font-weight: 600;">Agama:</label>
                @for (int i = 0; i < Model.Agama.Count; i++)
                {
                    <div>
                        <input asp-for="@Model.Agama[@i].Value" hidden readonly />
                        <input asp-for="@Model.Agama[@i].Selected" class="submit-on-change" type="checkbox" />
                        @Model.Agama[i].Value.Humanize(LetterCasing.Title)
                    </div>
                }
            </div>

            <div class="col-4">
                <label asp-for="@Model.StatusAktif" class="mb-0" style="font-weight: 600;">Status Aktif:</label>
                @for (int i = 0; i < Model.StatusAktif.Count; i++)
                {
                    <div>
                        <input asp-for="@Model.StatusAktif[@i].Value" hidden readonly />
                        <input asp-for="@Model.StatusAktif[@i].Selected" class="submit-on-change" type="checkbox" />
                        @Model.StatusAktif[i].Value.Humanize(LetterCasing.Title)
                    </div>
                }
            </div>

            <div class="col-4">
                <label asp-for="@Model.TahunMasuk" class="mb-0" style="font-weight: 600;">Tahun Masuk:</label>
                @for (int i = 0; i < Model.TahunMasuk.Count; i++)
                {
                    <div>
                        <input asp-for="@Model.TahunMasuk[@i].Value" hidden readonly />
                        <input asp-for="@Model.TahunMasuk[@i].Selected" class="submit-on-change" type="checkbox" />
                        @Model.TahunMasuk[i].Value
                    </div>
                }
            </div>

            <div class="col-4">
                <label asp-for="@Model.TahunLahir" class="mb-0" style="font-weight: 600;">Tahun Lahir:</label>
                @for (int i = 0; i < Model.TahunLahir.Count; i++)
                {
                    <div>
                        <input asp-for="@Model.TahunLahir[@i].Value" hidden readonly />
                        <input asp-for="@Model.TahunLahir[@i].Selected" class="submit-on-change" type="checkbox" />
                        @Model.TahunLahir[i].Value
                    </div>
                }
            </div>

            <div class="col-4">
                <label asp-for="@Model.Jenjang" class="mb-0" style="font-weight: 600;">Jenjang:</label>
                @for (int i = 0; i < Model.Jenjang.Count; i++)
                {
                    <div>
                        <input asp-for="@Model.Jenjang[@i].Value" hidden readonly />
                        <input asp-for="@Model.Jenjang[@i].Selected" class="submit-on-change" type="checkbox" />
                        @Model.Jenjang[i].Value
                    </div>
                }
            </div>
        </form>

        <div class="d-flex justify-content-start ml-auto mb-3">
            <div class="mb-0">
                <a class="btn btn-icon icon-left btn-primary mr-1" asp-action="Tambah"
                   data-toggle="tooltip" title="Tambah Data Siswa Baru">
                    <i class="fas fa-plus"></i> Tambah Siswa
                </a>

                <a class="btn btn-icon icon-left btn-success" data-toggle="tooltip" title="Import Data Siswa">
                    <i class="fas fa-file-upload"></i> Import Data Siswa
                </a>
            </div>

            <div class="d-flex justify-content-center align-items-center pr-3 ml-auto">
                <div class="mb-0 mr-2">
                    <button class="btn btn-icon icon-left btn-info" id="toggleFilter">
                        <i class="fas fa-filter"></i> Filter
                    </button>
                </div>

                <div class="mb-0">
                    <a href="" class="btn btn-icon icon-left btn-success" id="refreshButton">
                        <i class="fas fa-sync-alt"></i> Refresh
                    </a>
                </div>
            </div>
        </div>

        <!-- Tabel -->
        <div class="table-responsive">
            <table class="table table-striped" id="save-stage">
                <thead>
                    <tr>
                        <th style="min-width: 100px">Id</th>
                        <th style="min-width: 100px">NISN</th>
                        <th style="min-width: 100px">NIS</th>
                        <th style="min-width: 200px">Nama</th>
                        <th style="min-width: 100px">Agama</th>
                        <th style="min-width: 100px">Jenis Kelamin</th>
                        <th style="min-width: 100px">TTL</th>
                        <th style="min-width: 100px">Tanggal Masuk</th>
                        <th style="min-width: 100px">Status Aktif</th>
                        <th style="min-width: 100px">Jenjang</th>
                        <th style="min-width: 100px">Biodata Lengkap?</th>
                        <th style="min-width: 130px">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var siswa in Model.DaftarSiswa)
                    {
                        <tr>
                            <td>@siswa.Id</td>
                            <td>@siswa.NISN</td>
                            <td>@siswa.NIS</td>
                            <td>@siswa.Nama</td>
                            <td>@siswa.Agama.Humanize(LetterCasing.Title)</td>
                            <td>@siswa.JenisKelamin.Humanize()</td>
                            <td>@siswa.TTL</td>
                            <td>@siswa.TanggalMasuk.ToString(CultureInfos.CI.DateTimeFormat.ShortDatePattern, CultureInfos.CI)</td>
                            <td>@siswa.StatusAktif.Humanize()</td>
                            <td>@siswa.Jenjang.Humanize()</td>
                            <td>
                                @if (siswa.IsBiodataComplete())
                                {
                                    @("Lengkap")
                                }
                                else
                                {
                                    @("Tidak Lengkap")
                                }
                            </td>
                            <td>
                                <a class="btn btn-warning" data-toggle="tooltip" title="Detail Biodata Siswa"><i class="fas fa-eye"></i></a>

                                <a asp-action="Edit" asp-route-id="@siswa.Id" class="btn btn-primary btn-action" data-toggle="tooltip" title="Edit Data Siswa">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <form asp-action="Hapus" asp-route-id="@siswa.Id" style="display:inline" method="post">
                                    <button type="button" class="btn btn-danger btn-action swal-confirm" data-toggle="tooltip" title="Hapus Data Siswa">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>