@using SIAkademik.Web.Areas.DashboardSiswa.Models.NilaiModels
@model DetailVM

@{
    ViewData["Title"] = "Detail Nilai";
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Akademik</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardSiswa" asp-controller="Nilai" asp-action="Index" asp-route-idTahunAjaran="@Model.TahunAjaran.Id">Nilai</a></li>
            <li class="breadcrumb-item" aria-current="page">Detail</li>
        </ol>
    </nav>
</div>

<!-- Isi Konten -->
<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-primary mb-2">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Daftar Nilai</h4>
                </div>

                <div class="card-body rounded" style="background-color: #f0f7fd; margin-left: 25px; margin-right: 25px; margin-bottom: 20px;">
                    <div class="row">
                        <!-- Kolom kiri -->
                        <div class="col-md-6">
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">NISN/NIS</div>
                                <div class="col">@Model.Siswa.NISN/@Model.Siswa.NIS</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Nama</div>
                                <div class="col">@Model.Siswa.Nama</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Status</div>
                                <div class="col">@Model.Siswa.StatusAktif.Humanize()</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Jenjang</div>
                                <div class="col">@Model.Siswa.Jenjang.Humanize()</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Kelas</div>
                                <div class="col">@Model.AnggotaRombel.Rombel.Kelas.Jenjang.Humanize() @Model.AnggotaRombel.Rombel.Kelas.Peminatan.Nama @Model.AnggotaRombel.Rombel.Nama</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Wali Kelas</div>
                                <div class="col">@Model.AnggotaRombel.Rombel.Wali.Nama</div>
                            </div>
                        </div>

                        <!-- Kolom kanan -->
                        <div class="col-md-6">
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Mata Pelajaran</div>
                                <div class="col">@Model.AsesmenSumatif.JadwalMengajar.MataPelajaran.Nama</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Guru</div>
                                <div class="col">@Model.AsesmenSumatif.JadwalMengajar.Pegawai.Nama</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Tujuan Pembelajaran</div>
                                <div class="col">@Model.AsesmenSumatif.TujuanPembelajaran.Nomor). @Model.AsesmenSumatif.TujuanPembelajaran.Deskripsi</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Rata-Rata Nilai</div>
                                <div class="col">@Model.AsesmenSumatif.RataNilai(Model.AnggotaRombel)</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Predikat</div>
                                <div class="col">@Model.AsesmenSumatif.Predikat(Model.AnggotaRombel)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="table-akun">
                            <thead>
                                <tr>
                                    <th rowspan="2">Jenis Nilai</th>
                                    <th colspan="2">Nilai</th>
                                </tr>
                                <tr>
                                    <th>Deskripsi</th>
                                    <th>Nilai</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var jenis in Enum.GetValues<JenisNilai>().OrderBy(j => j))
                                {
                                    var daftarNilaiEvaluasiSiswa = Model
                                        .AnggotaRombel
                                        .DaftarNilaiEvaluasiSiswa
                                        .Where(n => n.EvaluasiSiswa.Jenis == jenis && n.EvaluasiSiswa.AsesmenSumatif == Model.AsesmenSumatif);

                                    <tr>
                                        <td rowspan="@(daftarNilaiEvaluasiSiswa.Count() + 1)">@jenis.Humanize()</td>
                                    </tr>
                                    @foreach (var nilaiEvaluasiSiswa in daftarNilaiEvaluasiSiswa)
                                    {
                                        <tr>
                                            <td>@nilaiEvaluasiSiswa.EvaluasiSiswa.Deskripsi</td>
                                            <td>@nilaiEvaluasiSiswa.Nilai</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>