@using SIAkademik.Web.Areas.DashboardSiswa.Models.Home
@model UbahPasswordVM

@{
    ViewData["Title"] = "Ubah Password";
}

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <form asp-action="UbahPassword" method="post">

                @*  <div asp-validation-summary="All"></div> *@

                <input asp-for="@Model.Nama" readonly hidden />
                <input asp-for="@Model.NIS" readonly hidden />
                <input asp-for="@Model.NISN" readonly hidden />
                <input asp-for="@Model.TanggalMasuk" readonly hidden />
                <input asp-for="@Model.TanggalLahir" readonly hidden />
                <input asp-for="@Model.TempatLahir" readonly hidden />
                <input asp-for="@Model.Agama" readonly hidden />
                <input asp-for="@Model.JenisKelamin" readonly hidden />
                <input asp-for="@Model.Jenjang" readonly hidden />
                <input asp-for="@Model.StatusAktif" readonly hidden />
                <input asp-for="@Model.FotoProfil" readonly hidden />

                <div class="card card-primary mt-3">
                    <div class="card-header border-bottom pb-3">
                        <h4>Profil Siswa</h4>
                        <div class="card-header-form">
                            <button type="submit" class="btn btn-success" data-toggle="tooltip" title="Simpan">
                                <i class="fas fa-save"></i>
                                <span class="pl-1">Simpan</span>
                            </button>
                            <a asp-action="Profil" class="btn btn-warning" data-toggle="tooltip" title="Batal">
                                <i class="fas fa-sync"></i>
                                <span class="pl-1">Batal</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-2 border-right text-center">
                                <div id="foto-container" class="d-flex justify-content-center">
                                    @if (Model.FotoProfil is not null)
                                    {
                                        <img id="foto-profil" src="@Model.FotoProfil.OriginalString" alt="Foto Profil" style="width: 100%;" />
                                    }
                                    else
                                    {
                                        var inisial = string.Join("", Model.Nama.Split(' ', StringSplitOptions.RemoveEmptyEntries)
                                        .Select(n => n[0]))
                                        .ToUpperInvariant();

                                        if (inisial.Length > 2) inisial = inisial.Substring(0, 2);

                                        <div class="fotoprofil">
                                            @inisial
                                        </div>
                                    }
                                </div>

                                <button id="btn-ganti-foto" type="button" class="btn btn-secondary mt-2" data-toggle="tooltip" title="Ganti Foto Profil">Ganti Foto Profil</button>

                                <input type="file" id="input-foto" accept=".jpg,.jpeg" style="display:none" />
                            </div>
                            <div class="col-12 col-md-10">
                                <div class="row">

                                    <div class="col-12 col-md-6">
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">NISN/NIS</div>
                                            <div class="col-md-7">@Model.NIS/@Model.NISN</div>
                                        </div>

                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Nama Siswa</div>
                                            <div class="col-md-7">@Model.Nama</div>
                                        </div>

                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Jenis Kelamin</div>
                                            <div class="col-md-7">@Model.JenisKelamin.Humanize()</div>
                                        </div>

                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Tempat / Tanggal Lahir</div>
                                            <div class="col-md-7">@Model.TempatLahir / @Model.TanggalLahir.ToString("dd MMMM yyyy", CultureInfos.CI)</div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Tanggal Masuk</div>
                                            <div class="col-md-7">@Model.TanggalMasuk.ToString("dd MMMM yyyy", CultureInfos.CI)</div>
                                        </div>

                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Jenjang</div>
                                            <div class="col-md-7">@Model.Jenjang.Humanize()</div>
                                        </div>

                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Status Siswa</div>
                                            <div class="col-md-7">@Model.StatusAktif.Humanize()</div>
                                        </div>

                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Agama</div>
                                            <div class="col-md-7">@Model.Agama.Humanize()</div>
                                        </div>
                                    </div>
                                </div>

                                <div asp-validation-summary="ModelOnly"></div>

                                @* Ini Desain Tab *@
                                <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
                                    <li class="nav-item border" style="border-top-left-radius: .25rem; border-top-right-radius: .25rem;">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                           aria-controls="home" aria-selected="true" title="Ubah Password">Ubah Password</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active pt-0" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row border pt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12 pb-3">
                                                        <div class="card-header border-bottom pl-0" style="border-bottom: 2px solid #6777ef !important;">
                                                            <h4 style="color: #6777ef">Ubah Password</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.PasswordLama">Password Lama<span style="color:red">*</span></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="fas fa-lock"></i>
                                                                </div>
                                                            </div>

                                                            <!-- password input -->
                                                            <input asp-for="@Model.PasswordLama" type="password" class="form-control" placeholder="Password">

                                                            <!-- tombol mata -->
                                                            <div class="input-group-append">
                                                                <button class="btn btn-toggle-password" type="button"
                                                                        aria-label="Show password" aria-pressed="false" title="Tampilkan / Sembunyikan password">
                                                                    <i class="fas fa-eye" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>                                                        <span asp-validation-for="@Model.PasswordLama" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.PasswordBaru">Password Baru<span style="color:red">*</span></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="fas fa-lock"></i>
                                                                </div>
                                                            </div>

                                                            <!-- password input -->
                                                            <input asp-for="@Model.PasswordBaru" type="password" class="form-control" placeholder="Password">

                                                            <!-- tombol mata -->
                                                            <div class="input-group-append">
                                                                <button class="btn btn-toggle-password" type="button"
                                                                        aria-label="Show password" aria-pressed="false" title="Tampilkan / Sembunyikan password">
                                                                    <i class="fas fa-eye" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <span asp-validation-for="@Model.PasswordBaru" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.KonfirmasiPasswordBaru">Konfirmasi Password Baru<span style="color:red">*</span></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="fas fa-lock"></i>
                                                                </div>
                                                            </div>

                                                            <!-- password input -->
                                                            <input asp-for="@Model.KonfirmasiPasswordBaru" type="password" class="form-control" placeholder="Password">

                                                            <!-- tombol mata -->
                                                            <div class="input-group-append">
                                                                <button class="btn btn-toggle-password" type="button"
                                                                        aria-label="Show password" aria-pressed="false" title="Tampilkan / Sembunyikan password">
                                                                    <i class="fas fa-eye" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <span asp-validation-for="@Model.KonfirmasiPasswordBaru" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            // ketika tombol diklik, buka file picker
            $('#btn-ganti-foto').on('click', function () {
                $('#input-foto').click();
            });

            // ketika user memilih file
            $('#input-foto').on('change', function () {
                var file = this.files[0];
                if (!file) return;

                // validasi ukuran & tipe file
                if (!['image/jpeg', 'image/jpg'].includes(file.type)) {
                    alert('Hanya file .jpg atau .jpeg yang diperbolehkan.');
                    return;
                }
                if (file.size > 100 * 1024) {
                    alert('Ukuran file maksimal 100 KB.');
                    return;
                }

                var formData = new FormData();
                formData.append('FotoProfil', file);

                // tampilkan indikator loading
                $('#btn-ganti-foto').prop('disabled', true).text('Mengunggah...');
                +
                    $.ajax({
                        url: '@Url.Action("EditFotoProfil", "Home", new { area = "DashboardSiswa" })',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            // misalnya controller mengembalikan URL foto baru
                            if (res && res.newFotoUrl) {
                                $('#foto-profil').attr('src', res.newFotoUrl);
                            }
                            // reload halaman
                            setTimeout(function () {
                                location.reload();
                            });
                        },
                        error: function () {
                            // alert('Gagal mengganti foto profil.');
                        },
                        complete: function () {
                            $('#btn-ganti-foto').prop('disabled', false).text('Ganti Foto Profil');
                        }
                    });
            });
        });
    </script>
}