@model Rombel

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Kelas Wali</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardGuru" asp-controller="KelasWali" asp-action="Index">Jadwal Mengajar</a></li>
            <li class="breadcrumb-item" aria-current="page">Detail Data</li>
        </ol>
    </nav>
</div>

<a asp-action="Absen" asp-route-id="@Model.Id">Absen</a>

<h1>Daftar Siswa</h1>
<table>
    <thead>
        <tr>
            <th>NIS</th>
            <th>NISN</th>
            <th>Nama</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var anggotaRombel in Model.DaftarAnggotaRombel)
        {
            <tr>
                <td>@anggotaRombel.Siswa.NIS</td>
                <td>@anggotaRombel.Siswa.NISN</td>
                <td>@anggotaRombel.Siswa.Nama</td>
            </tr>
        }
    </tbody>
</table>

<h1>Jadwal</h1>
<table>
    <thead>
        <tr>
            <th>Mata Pelajaran</th>
            <th>Guru</th>
            <th>Hari</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var jadwal in Model.DaftarJadwalMengajar)
        {
            <tr>
                <td>@jadwal.MataPelajaran.Nama</td>
                <td>@jadwal.Pegawai.Nama</td>
                <td>
                    @foreach(var hari in jadwal.DaftarHariMengajar.OrderBy(h => h.Hari).ThenBy(h => h.JamMulai))
                    {
                        <p>@hari.Hari.Humanize() (@hari.JamMulai.ToString("HH:mm") - @hari.JamAkhir.ToString("HH:mm"))</p>
                    }
                </td>
                <td>
                    <a asp-action="DetailJadwal" asp-route-id="@Model.Id" asp-route-idJadwal="@jadwal.Id">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>