@using SIAkademik.Web.Areas.DashboardGuru.Models.KelasWaliModels
@model DetailJadwalVM

<h1>Nilai</h1>
<table>
    <thead>
        <tr>
            <th>NIS</th>
            <th>NISN</th>
            <th>Nama</th>
            <th>Nilai</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var anggotaRombel in Model.Rombel.DaftarAnggotaRombel)
        {
            <tr>
                <td>@anggotaRombel.Siswa.NIS</td>
                <td>@anggotaRombel.Siswa.NISN</td>
                <td>@anggotaRombel.Siswa.Nama</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>


<h1>Absen</h1>
<form asp-action="DetailJadwal" asp-route-id="@Model.Rombel.Id" asp-route-idJadwal="@Model.JadwalMengajar.Id">
    <select id="idPertemuan" name="idPertemuan">
        @if (Model.Pertemuan is null)
        {
            <option selected value="">-- Pilih Pertemuan --</option>
        }

        @foreach (var pertemuan in Model.JadwalMengajar.DaftarPertemuan.OrderBy(p => p.Nomor))
        {
            @if (Model.Pertemuan == pertemuan)
            {
                <option selected value="@pertemuan.Id">Pertemuan Ke-@pertemuan.Nomor</option>
            }
            else
            {
                <option value="@pertemuan.Id">Pertemuan Ke-@pertemuan.Nomor</option>
            }
        }
    </select>
</form>

<h2>Pertemuan</h2>
<table>
    <thead>
        <tr>
            <th>Nomor</th>
            <th>Tanggal Pelaksanaan</th>
            <th>Keterangan</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Pertemuan is not null)
        {
            <tr>
                <td>@Model.Pertemuan.Nomor</td>
                @if (Model.Pertemuan.StatusPertemuan != StatusPertemuan.BelumMulai)
                {
                    <td>@Model.Pertemuan.TanggalPelaksanaan!.Value.ToString(CultureInfos.CI.DateTimeFormat.LongDatePattern, CultureInfos.CI)</td>
                    <td>@Model.Pertemuan.Keterangan</td>
                }
                else
                {
                    <td>Belum Dimulai</td>
                    <td>Belum Dimulai</td>
                }
                <td>@Model.Pertemuan.StatusPertemuan.Humanize()</td>
            </tr>
        }
    </tbody>
</table>

<h2>Absen</h2>
<table>
    <thead>
        <tr>
            <th>NIS</th>
            <th>NISN</th>
            <th>Nama</th>
            <th>Absensi</th>
            <th>Tanggal</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Pertemuan is not null)
        {
            @foreach(var absen in Model.Pertemuan.DaftarAbsen)
            {
                <tr>
                    <td>@absen.AnggotaRombel.Siswa.NIS</td>
                    <td>@absen.AnggotaRombel.Siswa.NISN</td>
                    <td>@absen.AnggotaRombel.Siswa.Nama</td>
                    <td>@absen.Absensi.Humanize()</td>
                    <td>@absen.Tanggal.ToString(CultureInfos.CI.DateTimeFormat.LongDatePattern, CultureInfos.CI)</td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('select#idPertemuan').on('change', function() {
                $(this).closest('form').trigger('submit')
            })
        })
    </script>
}