@using SIAkademik.Web.Areas.DashboardSiswa.Models.AbsenModels
@model IndexVM

@inject ITahunAjaranRepository TahunAjaranRepository

@{
    ViewData["Title"] = "Presensi";
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Akademik</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardSiswa" asp-controller="Absen" asp-action="Index"></a>Presensi</li>
        </ol>
    </nav>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-primary mb-2">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Daftar Presensi Kelas</h4>
                </div>

                <div class="card-body rounded" style="background-color: #f0f7fd; margin: 0 25px 20px;">
                    <div class="row gy-3">
                        <!-- Kolom kiri -->
                        <div class="col-12 col-lg-6">
                            <div class="row mb-2">
                                <div class="col-12 col-sm-4" style="font-weight: 600">NISN/NIS</div>
                                <div class="col-12 col-sm-8">@Model.Siswa.NISN / @Model.Siswa.NIS</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12 col-sm-4" style="font-weight: 600">Nama</div>
                                <div class="col-12 col-sm-8">@Model.Siswa.Nama</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12 col-sm-4" style="font-weight: 600">Status</div>
                                <div class="col-12 col-sm-8">@Model.Siswa.StatusAktif.Humanize()</div>
                            </div>
                        </div>

                        <!-- Kolom kanan -->
                        <div class="col-12 col-lg-6">
                            <div class="row mb-2">
                                <div class="col-12 col-sm-4" style="font-weight: 600">Jenjang</div>
                                <div class="col-12 col-sm-8">@Model.Siswa.Jenjang.Humanize()</div>
                            </div>
                            @if (Model.AnggotaRombel is not null)
                            {
                                <div class="row mb-2">
                                    <div class="col-12 col-sm-4" style="font-weight: 600">Wali Kelas</div>
                                    <div class="col-12 col-sm-8">@Model.AnggotaRombel.Rombel.Wali.Nama</div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12 col-sm-4" style="font-weight: 600">Kelas</div>
                                    <div class="col-12 col-sm-8">
                                        @Model.AnggotaRombel.Rombel.Kelas.Jenjang.Humanize()
                                        @Model.AnggotaRombel.Rombel.Kelas.Peminatan.Nama
                                        @Model.AnggotaRombel.Rombel.Nama
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center mb-3 flex-wrap">
                        <form asp-action="Index" method="get" class="row align-items-center w-100">
                            <!-- Label -->
                            <div class="col-12 col-md-auto p-0 mr-2">
                                <label for="idTahunAjaran" class="mb-0" style="font-weight: 600">Tahun Ajaran:</label>
                            </div>

                            <!-- Select -->
                            <div class="col-12 col-md-auto p-0">
                                <select asp-for="@Model.IdTahunAjaran" class="form-control form-control-sm w-100 w-md-auto">
                                    @if (Model.IdTahunAjaran is null)
                                    {
                                        <option value="@null">-- Pilih Tahun Ajaran --</option>
                                    }
                                    @foreach (var tahunAjaran in daftarTahunAjaran)
                                    {
                                        <option value="@tahunAjaran.Id">
                                            @tahunAjaran.Periode @tahunAjaran.Semester.Humanize()
                                        </option>
                                    }
                                </select>
                            </div>
                        </form>
                    </div>


                    <div class="card-body rounded" style="background-color: #f0f7fd; margin-bottom: 20px;">
                        <div class="row">
                            <!-- Kolom -->
                            <div class="col-12 col-md-3 pr-5">
                                @if (Model.AnggotaRombel is not null)
                                {
                                    <div class="row mb-1">
                                        <div class="col-lg-4 col-md-6" style="font-weight:600;">Hadir</div>
                                        <div class="col-lg-8 col-md-6">@Model.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Hadir).Count()</div>
                                    </div>
                                }                               
                            </div>

                            <!-- Kolom -->
                            <div class="col-12 col-md-3 pr-5">
                                @if (Model.AnggotaRombel is not null)
                                {
                                    <div class="row mb-1">
                                        <div class="col-lg-4 col-md-6" style="font-weight:600;">Tidak Hadir</div>
                                        <div class="col-lg-8 col-md-6">@Model.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Alpa).Count()</div>
                                    </div>
                                }                                                             
                            </div>

                            <!-- Kolom -->
                            <div class="col-12 col-md-3 pr-5">
                                @if (Model.AnggotaRombel is not null)
                                {
                                    <div class="row mb-1">
                                        <div class="col-lg-4 col-md-6" style="font-weight:600;">Sakit</div>
                                        <div class="col-lg-8 col-md-6">@Model.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Sakit).Count()</div>
                                    </div>
                                }                                                              
                            </div>

                            <!-- Kolom -->
                            <div class="col-12 col-md-3 pr-5">
                                @if (Model.AnggotaRombel is not null)
                                {
                                    <div class="row mb-1">
                                        <div class="col-lg-4 col-md-6" style="font-weight:600;">Ijin</div>
                                        <div class="col-lg-8 col-md-6">@Model.DaftarAbsenKelas.Where(a => a.Absensi == Absensi.Ijin).Count()</div>
                                    </div>
                                }                               
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="table-akun">
                            <thead>
                                <tr>
                                    <th>Tanggal</th>
                                    <th>Absensi</th>
                                    <th>Catatan</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TahunAjaran is null)
                                {
                                    <tr>
                                        <td class="text-center" colspan="3">Belum ada tahun ajaran yang dibuka</td>
                                    </tr>
                                }
                                else
                                {
                                    @if (Model.AnggotaRombel is null)
                                    {
                                        <tr>
                                            <td class="text-center" colspan="3">Tidak ada kelas di tahun ajaran ini</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var absen in Model.DaftarAbsenKelas.OrderBy(a => a.Tanggal))
                                        {
                                            <tr>
                                                <td>@absen.Tanggal.ToString(CultureInfos.CI.DateTimeFormat.LongDatePattern, CultureInfos.CI)</td>
                                                <td>@absen.Absensi.Humanize()</td>
                                                <td>@absen.Catatan</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('select#IdTahunAjaran').on('change', function() {
                $(this).closest('form').trigger('submit');
            });
        });
    </script>
}