<!-- SIDEBAR -->
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="">
                <img src="~/images/navigation/logo_sekolah.jpg" style="width: 30px; height: 30px;" />
                <span class="logo-name">GURU</span>
            </a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Beranda</li>
            <li>
                <a asp-area="@AreaNames.DashboardGuru" asp-controller="Home" asp-action="Index" data-match="all" class="nav-link"><i data-feather="monitor"></i><span>Beranda</span></a>
            </li>
            <li class="menu-header">Akademik</li>
            <li>
                <a asp-area="@AreaNames.DashboardGuru" asp-controller="JadwalMengajar" asp-action="Index" data-match="partial" class="nav-link"><i data-feather="clock"></i><span>Jadwal Mengajar</span></a>
            </li>
            <li>
                <a asp-area="@AreaNames.DashboardGuru" asp-controller="AsesmenSumatif" asp-action="Index" data-match="partial" class="nav-link"><i data-feather="clock"></i><span>Asesmen Sumatif</span></a>
            </li>
            <li class="menu-header">Wali Kelas</li>
            <li>
                <a asp-area="@AreaNames.DashboardGuru" asp-controller="KelasWali" asp-action="Index" data-match="partial" class="nav-link"><i data-feather="users"></i><span>Kelas Wali</span></a>
            </li>
            <li>
                <a asp-area="@AreaNames.DashboardGuru" asp-controller="Raport" asp-action="Index" data-match="partial" class="nav-link"><i data-feather="file-text"></i><span>Rapor</span></a>
            </li>
            
        </ul>
    </aside>
</div>