@using SIAkademik.Web.Areas.DashboardGuru.Models.NilaiModels
@model DetailVM

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-warning">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Siswa</h4>
                </div>
                <div class="card-body">
                    <p>
                        NIS : @Model.Siswa.NIS <br />
                        NISN : @Model.Siswa.NISN <br />
                        Nama : @Model.Siswa.Nama <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-warning">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Jadwal Mengajar</h4>
                </div>
                <div class="card-body">
                    <p>
                        Rombel : @Model.JadwalMengajar.Rombel.Kelas.Jenjang.Humanize() @Model.JadwalMengajar.Rombel.Kelas.Peminatan.Nama
                        @Model.JadwalMengajar.Rombel.Nama <br />
                        Mata Pelajaran : @Model.JadwalMengajar.MataPelajaran.Nama
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-warning">

                <div class="card-header" style="padding-top: 20px;">
                </div>

                <div class="card-body">
                    @foreach (var jenisNilai in Enum.GetValues<JenisNilai>())
                    {
                        <h4>Nilai @jenisNilai.Humanize()</h4>
                        <a asp-action="Tambah" asp-route-idSiswa="@Model.Siswa.Id" asp-route-idJadwalMengajar="@Model.JadwalMengajar.Id" asp-route-jenisNilai="@jenisNilai" class="btn btn-primary mb-3 mt-2">Tambah</a>
                        <table class="table table-striped table-hover mb-5" id="table-akun">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Dekripsi</th>
                                    <th>Skor</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var nilai in Model.DaftarNilai.Where(n => n.Jenis == jenisNilai))
                                {
                                    <tr>
                                        <td>@nilai.Id</td>
                                        <td>@nilai.Deskripsi</td>
                                        <td>@nilai.Skor.ToString("F3")</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@nilai.Id">Edit</a>
                                            <form asp-action="Hapus" asp-route-id="@nilai.Id" class="btn btn-danger btn-action swal-confirm" title="Hapus">
                                                <button type="submit">Hapus</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




