@using SIAkademik.Web.Areas.DashboardGuru.Models.NilaiModels
@model EditVM

<form asp-action="Edit" method="post" class="container">
    <div asp-validation-summary="ModelOnly"></div>

    <input asp-for="@Model.Id" readonly hidden/>

    <div class="row">
        <label asp-for="@Model.Deskripsi"></label>
        <input asp-for="@Model.Deskripsi" />
        <span asp-validation-for="@Model.Deskripsi"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.Skor"></label>
        <input asp-for="@Model.Skor" />
        <span asp-validation-for="@Model.Skor"></span>
    </div>

    <button type="submit">Simpan</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}