@using SIAkademik.Web.Areas.DashboardAdmin.Models.InformasiUmumModels
@model EditVM

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Profil</a></li>
            <li class="breadcrumb-item" aria-current="page">Informasi Umum</li>
        </ol>
    </nav>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card card-warning">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Informasi Umum SMAKr Pandhega Jaya</h4>
                </div>

                <form asp-action="Edit" method="post" enctype="multipart/form-data">

                    <div class="card-body d-flex" style="flex-direction: column;">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                        </div>

                        <div class="d-flex">
                            <div class="col-6 p-0">
                                <div class="section-title mt-0">
                                    Identitas Sekolah
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.NamaSekolah"></label>
                                    <input asp-for="@Model.NamaSekolah" class="form-control" />
                                    <span asp-validation-for="@Model.NamaSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.ProfilSingkatSekolah"></label>
                                    <textarea asp-for="@Model.ProfilSingkatSekolah" style="min-height: 100px" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.ProfilSingkatSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.SloganSekolah"></label>
                                    <textarea asp-for="@Model.SloganSekolah" style="min-height: 100px" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.SloganSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.AlamatSekolah"></label>
                                    <textarea asp-for="@Model.AlamatSekolah" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.AlamatSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.NoHPSekolah"></label>
                                    <input asp-for="@Model.NoHPSekolah" class="form-control" />
                                    <span asp-validation-for="@Model.NoHPSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.EmailSekolah"></label>
                                    <input asp-for="@Model.EmailSekolah" class="form-control" />
                                    <span asp-validation-for="@Model.EmailSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.LogoSekolahBaru"></label>
                                    <div class="mb-2" style="display: flex; justify-content: center;">
                                        <img style="width: 200px;" src="@Model.LogoSekolahLama.OriginalString" />
                                    </div>                             
                                    <input asp-for="@Model.LogoSekolahBaru" type="file" />
                                    <input asp-for="@Model.LogoSekolahLama" hidden readonly />
                                    <span asp-validation-for="@Model.LogoSekolahBaru"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.VideoHalamanBeranda"></label>
                                    <div class="mb-2" style="display: flex; justify-content: center;">
                                        <iframe src="@Model.VideoHalamanBeranda"></iframe>
                                    </div>                                  
                                    <input asp-for="@Model.VideoHalamanBeranda" class="form-control"/>
                                    <span asp-validation-for="@Model.VideoHalamanBeranda"></span>
                                </div>

                                <div class="section-title">
                                    Media Sosial & Kontak
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.InstagramSekolah"></label>
                                    <input asp-for="@Model.InstagramSekolah" class="form-control" />
                                    <span asp-validation-for="@Model.InstagramSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.FacebookSekolah"></label>
                                    <input asp-for="@Model.FacebookSekolah" class="form-control" />
                                    <span asp-validation-for="@Model.FacebookSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.FacebookSekolah"></label>
                                    <input asp-for="@Model.FacebookSekolah" class="form-control" />
                                    <span asp-validation-for="@Model.FacebookSekolah"></span>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="section-title mt-0">
                                    Sambutan & Struktur Yayasan
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.NamaYayasan"></label>
                                    <input asp-for="@Model.NamaYayasan" class="form-control" />
                                    <span asp-validation-for="@Model.NamaYayasan"></span>
                                </div>

                                

                                <div class="form-group">
                                    <label asp-for="@Model.SambutanPimpinanYayasan"></label>
                                    <textarea asp-for="@Model.SambutanPimpinanYayasan" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.SambutanPimpinanYayasan"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.DewanPembinaYayasan"></label>
                                    <input asp-for="@Model.DewanPembinaYayasan" class="form-control" />
                                    <span asp-validation-for="@Model.DewanPembinaYayasan"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.KetuaUmumYayasan"></label>
                                    <input asp-for="@Model.KetuaUmumYayasan" class="form-control" />
                                    <span asp-validation-for="@Model.KetuaUmumYayasan"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.KetuaUmum2Yayasan"></label>
                                    <input asp-for="@Model.KetuaUmum2Yayasan" class="form-control" />
                                    <span asp-validation-for="@Model.KetuaUmum2Yayasan"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.VideoHalamanTentangKami"></label>
                                    <div class="mb-2" style="display: flex; justify-content: center;">
                                        <iframe src="@Model.VideoHalamanTentangKami"></iframe>
                                    </div>
                                    
                                    <input asp-for="@Model.VideoHalamanTentangKami" class="form-control"/>
                                    <span asp-validation-for="@Model.VideoHalamanTentangKami"></span>
                                </div>

                                <div class="section-title">
                                    Visi, Misi, dan Mars
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.VisiSekolah"></label>
                                    <textarea asp-for="@Model.VisiSekolah" class="form-control editor"></textarea>
                                    <span asp-validation-for="@Model.VisiSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.MisiSekolah"></label>
                                    <textarea asp-for="@Model.MisiSekolah" class="form-control editor"></textarea>
                                    <span asp-validation-for="@Model.MisiSekolah"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.LirikMarsSekolah"></label>
                                    <textarea asp-for="@Model.LirikMarsSekolah" class="form-control editor"></textarea>
                                    <span asp-validation-for="@Model.LirikMarsSekolah"></span>
                                </div>
                                
                            </div>
                        </div>

                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CkEditorPartial" />
}