@model List<Pegawai>

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Manajemen SDM</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="Pegawai" asp-action="Index"></a>Guru/Pegawai</li>
        </ol>
    </nav>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h4>Data Guru/Pegawai</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-start ml-auto mb-2">

            <div class="mb-0">
                <a class="btn btn-icon icon-left btn-primary" asp-action="Tambah"
                    data-toggle="tooltip" title="Tambah Guru/Pegawai">
                    <i class="fas fa-plus"></i> Tambah Guru/Pegawai
                </a>
            </div>                               
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover" id="table-akun">
                <thead>
                    <tr>
                        <th style="min-width: 100px">NIP</th>
                        <th style="min-width: 180px">Nama Lengkap</th>
                        <th style="min-width: 150px">Jenis Kelamin</th>
                        <th style="min-width: 150px">Agama</th>
                        <th style="min-width: 150px">TTL</th>
                        <th style="min-width: 120px">Status Kawin</th>
                        <th style="min-width: 250px">Alamat (KTP)</th>
                        <th>No. HP</th>
                        <th style="min-width: 100px">Gol. Darah</th>
                        <th style="min-width: 130px">Tanggal Masuk</th>
                        <th>NIK</th>
                        <th style="min-width: 150px">Nama Instagram</th>
                        <th>No. Rekening</th>
                        <th>Divisi</th>
                        <th>Jabatan</th>
                        <th style="min-width: 120px !important">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Nama</td>
                            <td>@item.JenisKelamin.Humanize()</td>
                            <td>@item.Agama.Humanize()</td>
                            <td>@item.TTL</td>
                            <td>@item.StatusPerkawinan.Humanize()</td>
                            <td>@item.AlamatKTP</td>
                            <td>@item.NoHP.Value</td>
                            <td>@item.GolonganDarah.Humanize()</td>
                            <td>@item.TanggalMasuk.ToString(CultureInfos.CI.DateTimeFormat.ShortDatePattern, CultureInfos.CI)</td>
                            <td>@item.NIK</td>
                            <td>@item.NamaInstagram</td>
                            <td>@item.NoRekening</td>
                            <td>@item.Divisi.Nama</td>
                            <td>@item.Jabatan.Nama</td>
                            <td>
                                <a asp-action="Edit" asp-route-nip="@item.Id" class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <form style="display:inline" asp-action="Hapus" asp-route-nip="@item.Id">
                                    <button type="submit" class="btn btn-danger btn-action" title="Hapus">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body text-center">
        <div class="mb-2">Info Message</div>
        <button class="btn btn-primary" id="toastr-1">Launch</button>
    </div>
</div>