@using SIAkademik.Domain.ModulSiakad.Repositories
@using SIAkademik.Web.Areas.DashboardAdmin.Models.PegawaiModels

@inject IDivisiRepository DivisiRepository
@inject IJabatanRepository JabatanRepository

@{
    var daftarDivisi = await DivisiRepository.GetAll();
    var daftarJabatan = await JabatanRepository.GetAll();
}

@model TambahVM

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Manajemen SDM</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="Pegawai" asp-action="Index">Guru & Pegawai</a></li>
            <li class="breadcrumb-item" aria-current="page">Tambah Data</li>
        </ol>
    </nav>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card card-success">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Data Guru/Pegawai</h4>
                </div>

                <form asp-action="Tambah">
                    <div class="card-body d-flex">
                        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

                        <div class="col-6 p-0">
                            <div class="section-title mt-0">
                                Data Kepegawaian
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.NIP"></label>
                                <input asp-for="@Model.NIP" type="text" class="form-control" />
                                <span asp-validation-for="@Model.NIP"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.TanggalMasuk"></label>
                                <input asp-for="@Model.TanggalMasuk" type="date" class="form-control datepicker" fdprocessedid="v2nenb" />
                                <span asp-validation-for="@Model.TanggalMasuk"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.DivisiId"></label>
                                <select asp-for="@Model.DivisiId" class="form-control mb-2">
                                    @foreach (var divisi in daftarDivisi)
                                    {
                                        <option value="@divisi.Id">@divisi.Nama</option>
                                    }
                                </select>
                                <a asp-action="Tambah" asp-controller="Divisi">Tambah Divisi</a>
                                <span asp-validation-for="@Model.DivisiId"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.JabatanId"></label>
                                <select asp-for="@Model.JabatanId" class="form-control mb-2">
                                    @foreach (var jabatan in daftarJabatan)
                                    {
                                        <option value="@jabatan.Id" data-jenis="@jabatan.Jenis.Humanize()">@jabatan.Nama</option>
                                    }
                                </select>
                                <a asp-action="Tambah" asp-controller="Jabatan">Tambah Jabatan</a>
                                <span asp-validation-for="@Model.JabatanId"></span>
                            </div>

                            <div class="section-title">
                                Data Pribadi
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Nama"></label>
                                <input asp-for="@Model.Nama" type="text" class="form-control" />
                                <span asp-validation-for="@Model.Nama"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.JenisKelamin"></label>
                                <select asp-for="@Model.JenisKelamin" class="form-control">
                                    @foreach (var jk in Enum.GetValues<JenisKelamin>())
                                    {
                                        <option value="@jk">@jk.Humanize()</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.JenisKelamin"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Agama"></label>
                                <select asp-for="@Model.Agama" class="form-control">
                                    @foreach (var a in Enum.GetValues<Agama>())
                                    {
                                        <option value="@a">@a.Humanize(LetterCasing.Title)</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.Agama"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.TempatLahir"></label>
                                <input asp-for="@Model.TempatLahir" type="text" class="form-control" />
                                <span asp-validation-for="@Model.TempatLahir"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.TanggalLahir"></label>
                                <input asp-for="@Model.TanggalLahir" type="date" class="form-control datepicker" fdprocessedid="v2nenb" />
                                <span asp-validation-for="@Model.TanggalLahir"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.StatusPerkawinan"></label>
                                <select asp-for="@Model.StatusPerkawinan" class="form-control">
                                    @foreach (var sp in Enum.GetValues<StatusPerkawinan>())
                                    {
                                        <option value="@sp">@sp.Humanize()</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.StatusPerkawinan"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.GolonganDarah"></label>
                                <select asp-for="@Model.GolonganDarah" class="form-control">
                                    @foreach (var gd in Enum.GetValues<GolonganDarah>())
                                    {
                                        <option value="@gd">@gd.Humanize()</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.GolonganDarah"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.NIK"></label>
                                <input asp-for="@Model.NIK" type="text" class="form-control" />
                                <span asp-validation-for="@Model.NIK"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.NoRekening"></label>
                                <input asp-for="@Model.NoRekening" type="text" class="form-control" />
                                <span asp-validation-for="@Model.NoRekening"></span>
                            </div>
                        </div>
                        <div class="col-6">

                            <div class="section-title mt-0">
                                Data Kontak dan Alamat
                            </div>

                            <div class="form-group">

                                <div class="form-group">
                                    <label asp-for="@Model.Alamat.Jalan">Alamat</label>
                                    <input asp-for="@Model.Alamat.Jalan" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Alamat.Jalan"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Alamat.RT"></label>
                                    <input asp-for="@Model.Alamat.RT" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Alamat.RT"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Alamat.RW"></label>
                                    <input asp-for="@Model.Alamat.RW" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Alamat.RW"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Alamat.KelurahanDesa"></label>
                                    <input asp-for="@Model.Alamat.KelurahanDesa" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Alamat.KelurahanDesa"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Alamat.Kecamatan"></label>
                                    <input asp-for="@Model.Alamat.Kecamatan" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Alamat.Kecamatan"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Alamat.KotaKabupaten"></label>
                                    <input asp-for="@Model.Alamat.KotaKabupaten" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Alamat.KotaKabupaten"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Alamat.Provinsi"></label>
                                    <input asp-for="@Model.Alamat.Provinsi" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Alamat.Provinsi"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Alamat.KodePos"></label>
                                    <input asp-for="@Model.Alamat.KodePos" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Alamat.KodePos"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.NoHP"></label>
                                <input asp-for="@Model.NoHP" type="text" class="form-control" />
                                <span asp-validation-for="@Model.NoHP"></span>
                            </div>



                            <div class="form-group">
                                <label asp-for="@Model.Email"></label>
                                <input asp-for="@Model.Email" type="text" class="form-control" />
                                <span asp-validation-for="@Model.Email"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.NamaInstagram"></label>
                                <input asp-for="@Model.NamaInstagram" type="text" class="form-control" />
                                <span asp-validation-for="@Model.NamaInstagram"></span>
                            </div>

                            <div class="section-title">
                                Data Akun
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Password"></label>
                                <input asp-for="@Model.Password" type="password" class="form-control" />
                                <span asp-validation-for="@Model.Password"></span>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer text-right pt-0">
                        <a href="javascript:void(0)" class="btn btn-danger text-white swal-cancel">Batal</a>
                        <button class="btn btn-primary mr-1" type="submit">Simpan</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function() {
            const setPasswordDisplay = () => {
                const jenis = $('select#JabatanId option:selected').attr('data-jenis');

                if (jenis == '@(JenisJabatan.Pegawai.Humanize())') {
                    $('input#Password').closest('div').hide()
                    $('div.section-title:contains("Data Akun")').hide()
                } else {
                    $('input#Password').closest('div').show()
                    $('div.section-title:contains("Data Akun")').show()
                }
            }

            setPasswordDisplay();

            $('select#JabatanId').on('change', function() {
                setPasswordDisplay()
            });
        });
    </script>
}