@using SIAkademik.Domain.ModulSiakad.Repositories
@using SIAkademik.Web.Areas.DashboardAdmin.Models.PegawaiModels

@inject IDivisiRepository DivisiRepository
@inject IJabatanRepository JabatanRepository

@{
    var daftarDivisi = await DivisiRepository.GetAll();
    var daftarJabatan = await JabatanRepository.GetAll();
}

@model TambahVM

<form asp-action="Tambah" method="post" class="container">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="row mb-3">
        <label asp-for="@Model.NIP"></label>
        <input asp-for="@Model.NIP" type="text" />
        <span asp-validation-for="@Model.NIP"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Nama"></label>
        <input asp-for="@Model.Nama" type="text"/>
        <span asp-validation-for="@Model.Nama"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.JenisKelamin"></label>
        <select asp-for="@Model.JenisKelamin">
            @foreach (var jk in Enum.GetValues<JenisKelamin>())
            {
                <option value="@jk">@jk.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.JenisKelamin"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Agama"></label>
        <input asp-for="@Model.Agama" type="text" />
        <span asp-validation-for="@Model.Agama"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.TempatLahir"></label>
        <input asp-for="@Model.TempatLahir" type="text" />
        <span asp-validation-for="@Model.TempatLahir"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.TanggalLahir"></label>
        <input asp-for="@Model.TanggalLahir" type="date"/>
        <span asp-validation-for="@Model.TanggalLahir"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.StatusPerkawinan"></label>
        <select asp-for="@Model.StatusPerkawinan">
            @foreach (var sp in Enum.GetValues<StatusPerkawinan>())
            {
                <option value="@sp">@sp.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.StatusPerkawinan"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Alamat"></label>

        <partial name="_AlamatFormPartial" />

        <span asp-validation-for="@Model.Alamat"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.NoHP"></label>
        <input asp-for="@Model.NoHP" type="text" />
        <span asp-validation-for="@Model.NoHP"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.GolonganDarah"></label>
        <select asp-for="@Model.GolonganDarah">
            @foreach (var gd in Enum.GetValues<GolonganDarah>())
            {
                <option value="@gd">@gd.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.GolonganDarah"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email" type="text" />
        <span asp-validation-for="@Model.Email"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.TanggalMasuk"></label>
        <input asp-for="@Model.TanggalMasuk" type="date" />
        <span asp-validation-for="@Model.TanggalMasuk"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.NIK"></label>
        <input asp-for="@Model.NIK" type="text" />
        <span asp-validation-for="@Model.NIK"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.NamaInstagram"></label>
        <input asp-for="@Model.NamaInstagram" type="text" />
        <span asp-validation-for="@Model.NamaInstagram"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.NoRekening"></label>
        <input asp-for="@Model.NoRekening" type="text" />
        <span asp-validation-for="@Model.NoRekening"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.DivisiId"></label>
        <select asp-for="@Model.DivisiId">
            @foreach (var divisi in daftarDivisi)
            {
                <option value="@divisi.Id">@divisi.Nama</option>
            }
        </select>
        <span asp-validation-for="@Model.DivisiId"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.JabatanId"></label>
        <select asp-for="@Model.JabatanId">
            @foreach (var jabatan in daftarJabatan)
            {
                <option value="@jabatan.Id">@jabatan.Nama</option>
            }
        </select>
        <span asp-validation-for="@Model.JabatanId"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Password"></label>
        <input asp-for="@Model.Password" type="password" />
        <span asp-validation-for="@Model.Password"></span>
    </div>

    <button type="submit">Simpan</button>
</form>