@using SIAkademik.Web.Areas.DashboardAdmin.Models.Home
@model IndexVM

@{
    var jumlahJadwalPerhari = Model.DaftarRombel
        .SelectMany(r => r.DaftarJadwalMengajar)
        .SelectMany(j => j.DaftarHariMengajar)
        .GroupBy(h => h.Hari)
        .OrderBy(g => g.Key)
        .ToDictionary(g => g.Key, g => g.Count());

    foreach(var hari in Enum.GetValues<Hari>())
        if (!jumlahJadwalPerhari.TryGetValue(hari, out int jumlah)) jumlahJadwalPerhari.Add(hari, 0);
}

<section class="section">
    <div class="container-fluid mt-3 mb-3">
        <h3 class="" style="font-weight:bold;">Selamat Pagi, Admin👋</h3>
        <p class="text-muted">Pantau data akademik, kegiatan, dan statistik sekolah secara real-time.</p>

        <div class="row g-3 mt-3">
            <!-- Card Total Siswa -->
            <div class="col-md-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h6 class="text-muted mb-1">Total Siswa</h6>
                        <h3 class="fw-bold">@Model.DaftarSiswa.Count</h3>
                        <small class="text-success">+@Model.DaftarSiswa.Where(s => s.TanggalMasuk.Year == CultureInfos.DateTimeNow.Year).Count() siswa baru semester ini</small>
                    </div>
                </div>
            </div>

            <!-- Card Total Guru -->
            <div class="col-md-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h6 class="text-muted mb-1">Total Guru</h6>
                        <h3 class="fw-bold">@Model.DaftarPegawai.Count</h3>
                        <small class="text-success">+@Model.DaftarPegawai.Where(p => p.TanggalMasuk.Year == CultureInfos.DateTimeNow.Year).Count() guru baru semester ini</small>
                    </div>
                </div>
            </div>

            @if(Model.TahunAjaran is not null)
            {
                <!-- Card Kelas Aktif -->
                <div class="col-md-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h6 class="text-muted mb-1">Kelas Aktif</h6>
                            <h3 class="fw-bold">@Model.DaftarRombel.Count</h3>
                            <small class="text-muted">Tahun Ajaran @Model.TahunAjaran.Periode @Model.TahunAjaran.Semester.Humanize()</small>
                        </div>
                    </div>
                </div>
            }

            <!-- Card Jumlah Alumni -->
            <div class="col-md-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h6 class="text-muted mb-1">Jumlah Siswa Lulus</h6>
                        <h3 class="fw-bold">@Model.DaftarSiswa.Where(s => s.StatusAktif == StatusAktifMahasiswa.TidakAktif).Count()</h3>
                        <small class="text-muted">Alumni SMAK Pandhega Jaya</small>
                    </div>
                </div>
            </div>
        </div>

        <!-- Baris kedua -->
        <div class="row g-3 mt-1">
            <!-- Statistik Akademik -->
            <div class="col-md-8">
                <div class="card shadow-sm border-0 h-100">
                    <div class="card-body">
                        <h6 class="fw-bold mb-3">Statistik Akademik</h6>
                        <p class="text-muted">Perbandingan jumlah siswa berdasarkan jenjang:</p>

                        <div clss="table-responsive">
                            <table class="table table-striped">
                                <thead class="table-light text-center">
                                    <tr>
                                        <th>Jenjang</th>
                                        <th>Jumlah Kelas</th>
                                        <th>Jumlah Siswa</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @foreach(var jenjang in Enum.GetValues<Jenjang>())
                                    {
                                        <tr>
                                            <td>@jenjang.Humanize()</td>
                                            <td>@Model.DaftarRombel.Where(r => r.Kelas.Jenjang == jenjang).Count()</td>
                                            <td>@Model.DaftarRombel.Where(r => r.Kelas.Jenjang == jenjang).SelectMany(r => r.DaftarAnggotaRombel).Count()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>                       
                    </div>
                </div>
            </div>

            <!-- Link Akses Cepat-->
            <div class="col-md-4">
                <div class="card shadow-sm border-0 h-100">
                    <div class="card-body">
                        <h6 class="fw-bold mb-3">Akses Cepat</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0 d-flex justify-content-between align-items-center">
                                📋 Data Siswa
                                <a asp-action="Index" asp-controller="Siswa" class="btn btn-primary btn-sm">Lihat</a>
                            </li>
                            <li class="list-group-item px-0 d-flex justify-content-between align-items-center">
                                👨‍🏫 Data Guru
                                <a asp-action="Index" asp-controller="Pegawai" class="btn btn-primary btn-sm">Lihat</a>
                            </li>
                            <li class="list-group-item px-0 d-flex justify-content-between align-items-center">
                                🏫 Data Kelas
                                <a asp-action="Index" asp-controller="Kelas" asp-route-idTahunAjaran="@Model.TahunAjaran?.Id" class="btn btn-primary btn-sm">Lihat</a>
                            </li>
                            <li class="list-group-item px-0 d-flex justify-content-between align-items-center">
                                ⚙️ Mata Pelajaran
                                <a asp-action="Index" asp-controller="MataPelajaran" class="btn btn-primary btn-sm">Lihat</a>
                            </li>
                            <li class="list-group-item px-0 d-flex justify-content-between align-items-center">
                                🧾 Nilai & Penilaian
                                <a href="#" class="btn btn-primary btn-sm">Lihat</a>
                            </li>
                            <li class="list-group-item px-0 d-flex justify-content-between align-items-center">                    
                                📅 Jadwal Mengajar
                                <a asp-action="Index" asp-controller="JadwalMengajar" asp-route-idTahunAjaran="@Model.TahunAjaran?.Id" class="btn btn-primary btn-sm">Lihat</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-3 mt-5">
            <!-- Jadwal per Hari -->
            <div class="col-lg-3 col-md-6 col-12 pr-1">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h6 class="card-title text-center">Jadwal per Hari</h6>
                        <canvas id="chartHari" style="width:100%; height:260px;"></canvas>
                    </div>
                </div>
            </div>

            <!-- Siswa per Jenis Kelamin -->
            <div class="col-lg-3 col-md-6 col-12 pr-1">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h6 class="card-title text-center">Siswa per Jenis Kelamin</h6>
                        <canvas id="chartGender" style="width:100%; height:260px;"></canvas>
                    </div>
                </div>
            </div>

            <!-- Siswa per Kelas -->
            <div class="col-lg-3 col-md-6 col-12 pr-1">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h6 class="card-title text-center">Siswa per Kelas</h6>
                        <canvas id="chartKelas" style="width:100%; height:260px;"></canvas>
                    </div>
                </div>
            </div>

            <!-- Statistik Guru/Pegawai -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h6 class="card-title text-center">Statistik Guru/Tendik</h6>
                        <canvas id="chartPegawai" style="width:100%; height:260px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/chart-chartjs.js" asp-append-version="true"></script>

    <script>
        // Jadwal per Hari
        new Chart(document.getElementById('chartHari'), {
            type: 'bar',
            data: {
                labels: ["Senin", "Selasa", "Rabu", "Kamis", "Jumat"],
                datasets: [{
                    label: "Jumlah Jadwal",
                    data: [
                        @jumlahJadwalPerhari[Hari.Senin], 
                        @jumlahJadwalPerhari[Hari.Selasa], 
                        @jumlahJadwalPerhari[Hari.Rabu], 
                        @jumlahJadwalPerhari[Hari.Kamis], 
                        @jumlahJadwalPerhari[Hari.Jumat]
                    ],
                    backgroundColor: 'rgba(54, 162, 235, 0.6)',
                    borderRadius: 6
                }]
            }
        });

        // Jadwal per Guru
        // new Chart(document.getElementById('chartGuru'), {
        //     type: 'bar',
        //     data: {
        //         labels: ["Guru A", "Guru B", "Guru C", "Guru D"],
        //         datasets: [{
        //             label: "Jumlah Jadwal",
        //             data: [8, 6, 4, 5],
        //             backgroundColor: 'rgba(255, 99, 132, 0.6)',
        //             borderRadius: 6
        //         }]
        //     }
        // });

        // Siswa per Jenis Kelamin
        new Chart(document.getElementById('chartGender'), {
            type: 'doughnut',
            data: {
                labels: ["Laki-laki", "Perempuan"],
                datasets: [{
                    label: "Jumlah Siswa",
                    data: [
                        @Model.DaftarSiswa.Where(s => s.JenisKelamin == JenisKelamin.LakiLaki).Count(), 
                        @Model.DaftarSiswa.Where(s => s.JenisKelamin == JenisKelamin.Perempuan).Count()
                    ],
                    backgroundColor: ['#51b6e7', '#f46273'],
                    borderWidth: 1
                }]
            }
        });

        // Siswa per Kelas
        new Chart(document.getElementById('chartKelas'), {
            type: 'bar',
            data: {
                labels: ["X", "XI", "XII"],
                datasets: [{
                    label: "Jumlah Siswa",
                    data: [
                        @Model.DaftarSiswa.Where(s => s.StatusAktif == StatusAktifMahasiswa.Aktif && s.Jenjang == Jenjang.X).Count(),
                        @Model.DaftarSiswa.Where(s => s.StatusAktif == StatusAktifMahasiswa.Aktif && s.Jenjang == Jenjang.XI).Count(),
                        @Model.DaftarSiswa.Where(s => s.StatusAktif == StatusAktifMahasiswa.Aktif && s.Jenjang == Jenjang.XII).Count()
                    ],
                    backgroundColor: 'rgba(153, 102, 255, 0.6)',
                    borderRadius: 6
                }]
            }
        });

        // Statistik Pegawai
        new Chart(document.getElementById('chartPegawai'), {
            type: 'bar',
            data: {
                labels: ["Guru", "Tendik"],
                datasets: [{
                    label: "Jumlah Pegawai",
                    data: [
        @(@Model.DaftarPegawai.Where(p => p.Jabatan.Jenis == JenisJabatan.Guru).Count()),
        @(@Model.DaftarPegawai.Where(p => p.Jabatan.Jenis == JenisJabatan.Pegawai).Count())
                    ],
                    backgroundColor: ['rgba(54, 162, 235, 0.6)', 'rgba(255, 159, 64, 0.6)'],
                    borderRadius: 6
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true, // ✅ mulai dari 0
                    }
                }
            }
        });
    </script>
}