@using SIAkademik.Web.Areas.DashboardAdmin.Models.Home
@model UbahPasswordVM

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <form asp-action="UbahPassword" method="post">

                <div class="card card-primary mt-3">
                    <div class="card-header border-bottom pb-3">
                        <h4>Profil Admin</h4>
                        <div class="ml-auto">
                            <button type="submit" class="btn btn-success" data-toggle="tooltip" title="Simpan">
                                <i class="fas fa-save"></i>
                                <span class="pl-1">Simpan</span>
                            </button>
                            <a asp-action="Profil" class="btn btn-warning" data-toggle="tooltip" title="Batal">
                                <i class="fas fa-sync"></i>
                                <span class="pl-1">Batal</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <div asp-validation-summary="ModelOnly"></div>

                                @* Ini Desain Tab *@
                                <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                           aria-controls="home" aria-selected="true" title="Ubah Password">Ubah Password</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active pt-0" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row border pt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12 pb-3">
                                                        <div class="card-header border-bottom pl-0" style="border-bottom: 2px solid #6777ef !important;">
                                                            <h4 style="color: #6777ef">Ubah Password</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.PasswordLama">Password Lama<span style="color:red">*</span></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="fas fa-lock"></i>
                                                                </div>
                                                            </div>

                                                            <!-- password input -->
                                                            <input asp-for="@Model.PasswordLama" type="password" class="form-control" placeholder="Password">

                                                            <!-- tombol mata -->
                                                            <div class="input-group-append">
                                                                <button class="btn btn-toggle-password" type="button"
                                                                        aria-label="Show password" aria-pressed="false" title="Tampilkan / Sembunyikan password">
                                                                    <i class="fas fa-eye" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <span asp-validation-for="@Model.PasswordLama" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.PasswordBaru">Password Baru<span style="color:red">*</span></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="fas fa-lock"></i>
                                                                </div>
                                                            </div>

                                                            <!-- password input -->
                                                            <input asp-for="@Model.PasswordBaru" type="password" class="form-control" placeholder="Password">

                                                            <!-- tombol mata -->
                                                            <div class="input-group-append">
                                                                <button class="btn btn-toggle-password" type="button"
                                                                        aria-label="Show password" aria-pressed="false" title="Tampilkan / Sembunyikan password">
                                                                    <i class="fas fa-eye" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <span asp-validation-for="@Model.PasswordBaru" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.KonfirmasiPasswordBaru">Konfirmasi Password Baru<span style="color:red">*</span></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="fas fa-lock"></i>
                                                                </div>
                                                            </div>

                                                            <!-- password input -->
                                                            <input asp-for="@Model.KonfirmasiPasswordBaru" type="password" class="form-control" placeholder="Password">

                                                            <!-- tombol mata -->
                                                            <div class="input-group-append">
                                                                <button class="btn btn-toggle-password" type="button"
                                                                        aria-label="Show password" aria-pressed="false" title="Tampilkan / Sembunyikan password">
                                                                    <i class="fas fa-eye" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <span asp-validation-for="@Model.KonfirmasiPasswordBaru" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}