@model List<Fasilitas>

<!-- ======================================= PENGANTAR ======================================= -->
<section id="fasilitas-home">
    <h2>Fasilitas Sekolah</h2>
</section>

<!-- ======================================= FASILITAS ======================================= -->
<section id="fasilitas">
    <div class="judul-garis">
        <h2>Fasilitas</h2>
        <div class="garis-sisa"></div>
    </div>

    @for(int i = 0; i < Model.Count; i++)
    {
        var fasilitas = Model[i];
        var isEven = (i + 1) % 2 == 0;

        <div class="fasilitas-box @(isEven ? "rev" : "")">
            @if(!isEven)
            {
                <img src="@fasilitas.Foto.OriginalString" alt="@fasilitas.Nama" />
            }
            <div class="fasilitas-text">
                <h2><span class="number">@(i + 1)</span> @fasilitas.Nama</h2>
                <p>@fasilitas.Deskripsi</p>
            </div>
            @if(isEven)
            {
                <img src="@fasilitas.Foto.OriginalString" alt="@fasilitas.Nama" />
            }
        </div>
    }
</section>