@using SIAkademik.Web.Areas.Profil.Models.Home
@model IndexVM

<!-- ======================================= SECTION LANDING ======================================= -->
<section id="home">
    <h2>@Model.InformasiUmum.NamaSekolah</h2>
    <p>
        @Model.InformasiUmum.SloganSekolah
    </p>
    <div class="btn">
        <a class="blue" asp-action="Kurikulum" asp-controller="Home" asp-area="Profil">Lihat Kurikulum</a>
        <a class="yellow" href="#">Daftar PPDB</a>
    </div>
</section>

<!-- ======================================= SECTION PROFIL SINGKAT SMA ======================================= -->
<section id="sambutan">
    <div class="sambutan-wrapper">
        <div class="sambutan-image">
            <iframe src="@Model.InformasiUmum.VideoHalamanBeranda.OriginalString">
            </iframe>
        </div>
        <div class="sambutan-content">
            <p class="sambutan-lihat">Lihat Lebih Dekat</p>
            <h1>Profil Singkat @Model.InformasiUmum.NamaSekolah</h1>
            <p class="sambutan-text">
                @Model.InformasiUmum.ProfilSingkatSekolah
            </p>
            <div class="sambutan-statistik">
                <div class="stat-box">
                    <div class="stat-number">@Model.DaftarSiswa.Where(s => s.StatusAktif == StatusAktifMahasiswa.Aktif).Count()</div>
                    <div class="stat-label">Peserta Didik</div>
                </div>
                <div class="stat-box">
                    <div class="stat-number">@Model.DaftarPegawai.Count</div>
                    <div class="stat-label">Guru & Tendik</div>
                </div>
                <div class="stat-box">
                    <div class="stat-number">@Model.DaftarSiswa.Where(s => s.StatusAktif == StatusAktifMahasiswa.TidakAktif).Count()</div>
                    <div class="stat-label">Alumni</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======================================= SECTION BERITA & PENGUMUMAN ======================================= -->
<section id="berita">
    <h1>Berita & Pengumuman Terbaru</h1>
    <p class="para-berita">Dapatkan Informasi dan Pengumuman Terbaru Seputar Kegiatan SMA Kristen Pandhega Jaya</p>
    <div class="berita-box">
        @foreach(var berita in Model.DaftarBerita.OrderByDescending(b => b.Tanggal))
        {
            <!-- Informasi -->
            <div class="beritas">
                <img src="@berita.Foto.OriginalString" alt="" />
                <div class="berita-details">
                    <a class="berita-details-judul" asp-route-id="@berita.Id" asp-action="Detail" asp-controller="Berita" asp-area="Profil">@berita.KategoriBerita.Nama - @berita.Judul</a>
                    <p class="berita-isi">
                        @Html.Raw(berita.Isi.Truncate(120, "..."))
                    </p>
                    <a class="berita-details-lanjut" asp-route-id="@berita.Id" asp-action="Detail" asp-controller="Berita" asp-area="Profil">Lihat Selengkapnya</a>
                </div>
                <div class="berita-tanggal">
                    <h2>@berita.Tanggal.Day</h2>
                    <h6>@berita.Tanggal.ToString("MMM, yyyy", CultureInfos.CI)</h6>
                </div>
            </div>
        }
    </div>
    <div class="button_lihat_semua">
        <a asp-action="Index" asp-controller="Berita" asp-area="Profil">Lihat Semua</a>
    </div>
</section>

<!-- ======================================= SECTION EKSTRAKURIKULER ======================================= -->
<section id="ekskul">
    <h1>Ekstrakurikuler Sekolah</h1>
    <p class="para-ekskul">Tingkatkan Kemampuanmu Lewat Kegiatan Seru dan Bermakna</p>
    <div class="ekskul-base">
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/sepak_bola.png" alt="" />
            <h3>Sepak Bola</h3>
            <p>Kegiatan olahraga rutin</p>
        </div>
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/bola_voli.png" alt="" />
            <h3>Bola Voli</h3>
            <p>Aktivitas tim terkoordinasi</p>
        </div>
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/speaker.png" alt="" />
            <h3>Public Speaking</h3>
            <p>Keterampilan Berbicara</p>
        </div>
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/guitar.png" alt="" />
            <h3>Gitar</h3>
            <p>Pembelajaran seni musik</p>
        </div>
        <div class="ekskul-box">
            <img src="images/ekstrakurikuler/run.png" alt="" />
            <h3>Lari Atletik</h3>
            <p>Latihan ketahanan fisik</p>
        </div>
    </div>
</section>

<!-- ======================================= SECTION GURU ======================================= -->
<section id="experts">
    <h1>Guru & Tendik</h1>
    <p class="para-guru">Guru dan Tenaga Kependidikan Berdedikasi untuk Membangun Generasi Unggul</p>
    <div class="swiper expert-box">
        <div class="swiper-wrapper">
            <!-- Guru -->
            @foreach (var pegawai in Model.DaftarPegawai)
            {
                <div class="swiper-slide profile">
                    @if (pegawai.FotoProfil is not null)
                    {
                        <img src="@pegawai.FotoProfil.OriginalString" alt="Foto Profil" />
                    }
                    else
                    {
                        @if (pegawai.JenisKelamin == JenisKelamin.LakiLaki) 
                        {
                            <img src="~/images/guru/guru-pria.png" />
                        }
                        else
                        {
                            <img src="~/images/guru/guru-wanita.png" />
                        }
                    }
                    <h6>@pegawai.Nama</h6>
                    <p>@pegawai.Jabatan.Jenis.Humanize()</p>
                    <div class="pro-links">
                        <a href="https://instagram.com/@pegawai.NamaInstagram" target="_blank"><i class="ri-instagram-fill"></i></a>
                    </div>
                </div>
            }
        </div>

        <!-- Navigasi swiper -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<!-- ======================================= SECTION MAP ======================================= -->
<section id="map">
    <div class="map-sekolah">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.380143194437!2d123.72241607661495!3d-10.149722764084865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2c568147180f9b91%3A0x8769155bee75bdd2!2sSMA%20Kristen%20Pandhega%20Jaya!5e0!3m2!1sid!2sid!4v1748396170588!5m2!1sid!2sid"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>