@using SIAkademik.Web.Areas.DashboardAdmin.Controllers
@using SIAkademik.Web.Areas.Profil.Models.Home
@model LoginVM

@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Siakad SMAK Pandhega Jaya</title>
    <link rel="stylesheet" href="~/css/app.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/component.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    @*     <link rel="stylesheet" href="~/SIKeuanganGMITLanudPenfui.Web.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                        <div class="login-brand">
                            SIAKAD SMAK PANDHEGA JAYA
                        </div>
                        <div class="card card-primary">
                            <div class="row m-0">
                                <div class="col-12 col-md-12 col-lg-5 p-0">
                                    <div class="card-header text-center">
                                        <h4>Dashboard Admin</h4>
                                    </div>
                                    <div class="card-body">
                                        <form asp-action="Login" asp-controller="Home" asp-area="Dashboard" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger form-text"></div>

                                            <div class="form-group floating-addon">
                                                <label asp-for="@Model.UserName">Username</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="far fa-user"></i>
                                                        </div>
                                                    </div>
                                                    <input asp-for="@Model.UserName" type="text" class="form-control" autofocus placeholder="Username">
                                                </div>
                                                <span class="text-danger form-text" asp-validation-for="@Model.UserName"></span>
                                            </div>
                                            <div class="form-group floating-addon">
                                                <label asp-for="@Model.Password">Password</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fas fa-lock"></i>
                                                        </div>
                                                    </div>
                                                    <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Password">
                                                </div>
                                                <span class="text-danger form-text" asp-validation-for="@Model.Password"></span>
                                            </div>
                                            <div class="form-group floating-addon">
                                                <div class="custom-control custom-checkbox">
                                                    <input asp-for="@Model.RememberMe" type="checkbox" name="remember" class="custom-control-input">
                                                    <label class="custom-control-label" asp-for="@Model.RememberMe">Remember Me</label>
                                                    <span class="text-danger" asp-validation-for="@Model.RememberMe"></span>
                                                </div>         
                                            </div>

                                            <input asp-for="@Model.ReturnUrl" hidden />

                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-lg btn-primary">
                                                    Login
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-7 p-0">
                                    <div id="map" class="contact-map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.3839380728305!2d123.72431317591887!3d-10.149413509483388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2c5687eb1809c739%3A0xae46e579e7bfe539!2sSmak.Pandhega%20Jaya!5e0!3m2!1sid!2sid!4v1757825022713!5m2!1sid!2sid" width="100%" height="100%" style="border:0; border-radius: 10px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simple-footer">
                            Copyright &copy; 2025. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/js/app.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/datatables.min.js" asp-append-version="true"></script>
    <script src="~/js/datatables.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}