@model InformasiUmum

<!-- ======================================= PENGANTAR ======================================= -->
<section id="tentang-home">
    <h2>Tentang Kami</h2>
</section>

<!-- ======================================= SAMBUTAN ======================================= -->
<section id="sambutan2">
    <div class="judul-garis">
        <h2>Sambutan</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="sambutan2-wrapper">
        <div class="sambutan2-video">
            <iframe src="@Model.VideoHalamanTentangKami"></iframe>
        </div>
        <div class="sambutan2-content">
            <h1>Sambutan Pimpinan @Model.NamaYayasan</h1>
            <p class="sambutan2-text">
                @Model.SambutanPimpinanYayasan
            </p>
            <div class="pimpinan">
                <div class="pimpinan-orang">
                    <p class="sambutan2-nama">@Model.DewanPembinaYayasan</p>
                    <p class="sambutan2-jabatan">DEWAN PEMBINA</p>
                </div>
                <div class="pimpinan-orang">
                    <p class="sambutan2-nama">@Model.KetuaUmumYayasan</p>
                    <p class="sambutan2-jabatan">KETUA UMUM</p>
                </div>
                <div class="pimpinan-orang">
                    <p class="sambutan2-nama">@Model.KetuaUmum2Yayasan</p>
                    <p class="sambutan2-jabatan">KETUA UMUM II</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======================================= PREVIEW KURIKULUM ======================================= -->
<section id="preview-kurikulum">
    <div class="pk-box">
        <h2>Kurikulum SMA Kristen Pandhega Jaya</h2>
        <a class="yellow" asp-action="Kurikulum" asp-controller="Home" asp-area="Profil">Lihat Disini</a>
    </div>
</section>

<!-- ======================================= PREVIEW CORE VALUE ======================================= -->
<section id="core-kurikulum">
    <div class="ck-box">
        <h2>Core Value SMA Kristen Pandhega Jaya</h2>
        <a class="blue" asp-action="CoreValue" asp-controller="Home" asp-area="Profil">Lihat Disini</a>
    </div>
</section>

<!-- ======================================= VISI & MISI ======================================= -->
<section id="visimisi">
    <div class="judul-garis">
        <h2>Visi & Misi</h2>
        <div class="garis-sisa"></div>
    </div>
    <div class="visimisi-container">
        <div class="visimisi-box">
            <hr class="judul-line" />
            <h2 class="judul">Visi</h2>
            <hr class="judul-line-tipis" />
            @Html.Raw(Model.VisiSekolah)
        </div>

        <div class="visimisi-box">
            <hr class="judul-line" />
            <h2 class="judul">Misi</h2>
            <hr class="judul-line-tipis" />
            @Html.Raw(Model.MisiSekolah)
        </div>
    </div>
</section>

<!-- ======================================= MARS SEKOLAH ======================================= -->
<section id="mars">
    <div class="mars-container">
        <div class="mars-kiri"></div>
        <div class="mars-kanan">
            <h2>Lirik Mars</h2>
            <blockquote class="mars-lirik">
                @Html.Raw(Model.LirikMarsSekolah)
            </blockquote>
        </div>
    </div>
</section>