@using SIAkademik.Web.Areas.DashboardSiswa.Models.JadwalMengajarModels
@model DetailVM

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Akademik</a></li>
            <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardSiswa" asp-controller="JadwalMengajar" asp-action="Index">Jadwal Kelas</a></li>
            <li class="breadcrumb-item" aria-current="page">Detail Pertemuan</li>
        </ol>
    </nav>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-info mb-2">

                <div class="card-header" style="padding-top: 20px;">
                    <h4>Daftar Pertemuan</h4>
                </div>
                <div class="card-body rounded" style="background-color: #f0f7fd; margin-left: 25px; margin-right: 25px; margin-bottom: 20px;">
                    <div class="row">
                        <!-- Kolom kiri -->
                        <div class="col-md-6">
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Mata Pelajaran</div>
                                <div class="col">@Model.JadwalMengajar.MataPelajaran.Nama</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Guru</div>
                                <div class="col">@Model.JadwalMengajar.Pegawai.Nama</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Jumlah Pertemuan</div>
                                <div class="col">@Model.JadwalMengajar.DaftarPertemuan.Count</div>
                            </div>
                        </div>

                        <!-- Kolom kanan -->
                        <div class="col-md-6">
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Tahun Ajaran</div>
                                <div class="col">@Model.JadwalMengajar.Rombel.Kelas.TahunAjaran.Periode</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Semester</div>
                                <div class="col">@Model.JadwalMengajar.Rombel.Kelas.TahunAjaran.Semester.Humanize()</div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-3" style="font-weight:600;">Kelas</div>
                                <div class="col">@Model.JadwalMengajar.Rombel.Kelas.Jenjang.Humanize() @Model.JadwalMengajar.Rombel.Kelas.Peminatan.Nama @Model.JadwalMengajar.Rombel.Nama</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="table-akun">
                            <thead>
                                <tr>
                                    <th>Nomor</th>
                                    <th>Keterangan</th>
                                    <th>Tanggal</th>
                                    <th>Status</th>
                                    <th>Absen</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pertemuan in Model.JadwalMengajar.DaftarPertemuan.OrderBy(p => p.Nomor))
                                {
                                    <tr>
                                        <td>@pertemuan.Nomor</td>
                                        @if (pertemuan.StatusPertemuan == StatusPertemuan.BelumMulai)
                                        {
                                            <td>Belum Dimulai</td>
                                            <td>Belum Dimulai</td>
                                            <td>@pertemuan.StatusPertemuan.Humanize()</td>
                                            <td>Belum Dimulai</td>
                                        }
                                        else
                                        {
                                            var absen = pertemuan.DaftarAbsen.FirstOrDefault(a => a.AnggotaRombel == Model.AnggotaRombel);

                                            <td>@pertemuan.Keterangan</td>
                                            <td>@pertemuan.TanggalPelaksanaan!.Value.ToString(CultureInfos.CI.DateTimeFormat.LongDatePattern, CultureInfos.CI)</td>
                                            <td>@pertemuan.StatusPertemuan.Humanize()</td>
                                            @if (absen is null)
                                            {
                                                <td>Anda belum diabsen</td>
                                            }
                                            else
                                            {
                                                <td>@absen.Absensi.Humanize()</td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>                   
                </div>
        </div>
    </div>
</div>



