@model List<Jabatan>

<div class="card card-primary">
    <div class="card-header">
        <h4>Data Jabatan</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-start ml-auto mb-2">

            <div class="mb-0">
                <a class="btn btn-icon icon-left btn-primary" asp-action="Tambah"
                   data-toggle="tooltip" title="Tambah Jabatan">
                    <i class="fas fa-plus"></i> Tambah Jabatan
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover" id="table-akun-1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nama</th>
                        <th>Jenis</th>
                        <th>Jumlah Guru/Pegawai</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jabatan in Model)
                    {
                        <tr>
                            <td>@jabatan.Id</td>
                            <td>@jabatan.Nama</td>
                            <td>@jabatan.Jenis.Humanize()</td>
                            <td>@jabatan.DaftarPegawai.Count</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@jabatan.Id" class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                <form asp-action="Hapus" asp-route-id="@jabatan.Id" style="display:inline">
                                    <button type="submit" class="btn btn-danger btn-action" title="Hapus"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>