@using SIAkademik.Web.Areas.DashboardAdmin.Models.TahunAjaranModels

@model EditVM

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Manajemen Akademik</a></li>
                <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="TahunAjaran" asp-action="Index">Tahun Ajaran</a></li>
                <li class="breadcrumb-item" aria-current="page">Edit Data</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Isi Konten -->
<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-warning">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Edit Data Tahun Ajaran</h4>
                </div>

                <form asp-action="Edit">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

                        <div class="form-group" hidden>
                            <label asp-for="@Model.Id"></label>
                            <input asp-for="@Model.Id" type="text" class="form-control" readonly />
                            <span asp-validation-for="@Model.Id"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Tahun"></label>
                            <input asp-for="@Model.Tahun" type="number" class="form-control" />
                            <span asp-validation-for="@Model.Tahun"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Semester"></label>
                            <select asp-for="@Model.Semester" class="form-control">
                                @foreach (var semester in Enum.GetValues<Semester>())
                                {
                                    <option value="@semester">@semester.Humanize()</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.Semester"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.TanggalMulai"></label>
                            <input asp-for="@Model.TanggalMulai" type="date" class="form-control datepicker" />
                            <span asp-validation-for="@Model.TanggalMulai"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.TanggalSelesai"></label>
                            <input asp-for="@Model.TanggalSelesai" type="date" class="form-control datepicker" />
                            <span asp-validation-for="@Model.TanggalSelesai"></span>
                        </div>                     
                    </div>

                    <div class="card-footer text-right pt-0">
                        <a href="javascript:void(0)" class="btn btn-danger text-white swal-cancel">Batal</a>
                        <button class="btn btn-primary mr-1" type="submit">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@* <form asp-action="Edit" class="container">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="row">
        <label asp-for="@Model.Id"></label>
        <input asp-for="@Model.Id" type="text" readonly />
        <span asp-validation-for="@Model.Id"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.Periode"></label>
        <input asp-for="@Model.Periode" type="text"/>
        <span asp-validation-for="@Model.Periode"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.Semester"></label>
        <select asp-for="@Model.Semester">
            @foreach(var semester in Enum.GetValues<Semester>())
            {
                <option value="@semester">@semester.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.Semester"></span>
    </div>

    <button type="submit">Simpan</button>
</form> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}