@using SIAkademik.Web.Areas.DashboardAdmin.Models.TahunAjaranModels

@model TambahVM

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Manajemen Akademik</a></li>
                <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="TahunAjaran" asp-action="Index">Tahun Ajaran</a></li>
                <li class="breadcrumb-item" aria-current="page">Tambah Data</li>
            </ol>
        </nav>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-danger">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Tahun Ajaran</h4>
                </div>

                <form asp-action="Tambah">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

                        <div class="form-group">
                            <label asp-for="@Model.Tahun1"></label>
                            <div class="d-flex">
                                <input asp-for="@Model.Tahun1" type="number" class="form-control" placeholder="Contoh: 2024"/>
                                <div style="font-size: 18px;" class="mr-3 ml-3 align-content-center">/</div>
                                <input asp-for="@Model.Tahun2" type="number" class="form-control" placeholder="Contoh: 2025" />
                            </div>
                            
                            <span asp-validation-for="@Model.Tahun1"></span>
                            <span asp-validation-for="@Model.Tahun2"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.TahunPelaksanaan"></label>
                            <input asp-for="@Model.TahunPelaksanaan" type="number" class="form-control" />
                            <span asp-validation-for="@Model.TahunPelaksanaan"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Semester"></label>
                            <select asp-for="@Model.Semester" class="form-control">
                                @foreach (var semester in Enum.GetValues<Semester>())
                                {
                                    <option value="@semester">@semester.Humanize()</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.Semester"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}