@using SIAkademik.Web.Models

@model IHaveAlamat

<div class="container">
    <div class="row mb-3">
        <label asp-for="@Model.Alamat.KodePos"></label>
        <input asp-for="@Model.Alamat.KodePos" />
        <span asp-validation-for="@Model.Alamat.KodePos"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Alamat.Jalan"></label>
        <input asp-for="@Model.Alamat.Jalan" />
        <span asp-validation-for="@Model.Alamat.Jalan"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Alamat.RW"></label>
        <input asp-for="@Model.Alamat.RW" />
        <span asp-validation-for="@Model.Alamat.RW"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Alamat.RT"></label>
        <input asp-for="@Model.Alamat.RT" />
        <span asp-validation-for="@Model.Alamat.RT"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Alamat.KelurahanDesa"></label>
        <input asp-for="@Model.Alamat.KelurahanDesa" />
        <span asp-validation-for="@Model.Alamat.KelurahanDesa"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Alamat.Kecamatan"></label>
        <input asp-for="@Model.Alamat.Kecamatan" />
        <span asp-validation-for="@Model.Alamat.Kecamatan"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Alamat.KotaKabupaten"></label>
        <input asp-for="@Model.Alamat.KotaKabupaten" />
        <span asp-validation-for="@Model.Alamat.KotaKabupaten"></span>
    </div>

    <div class="row mb-3">
        <label asp-for="@Model.Alamat.Provinsi"></label>
        <input asp-for="@Model.Alamat.Provinsi" />
        <span asp-validation-for="@Model.Alamat.Provinsi"></span>
    </div>
</div>