@model AnggotaRombel

@{
    Layout = null;
}

<style>
    #headerLaporan {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Calibri' !important;
        font-size: 11px !important;
        color: black !important;
    }   

    #skop {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-auto-flow: column;
        justify-content: space-around;
        row-gap: 10px;
    }
</style>

<div id="headerLaporan">
    <div id="skop">
        <span>NIS/NISN <span style="display:inline-block;margin-left:20px"></span>: @Model.Siswa.NIS/@Model.Siswa.NISN</span>
        <span>Nama <span style="display:inline-block;margin-left:111px"></span>: @Model.Siswa.Nama</span>
        <span>Nama Sekolah <span style="display:inline-block;margin-left:73px"></span>: SMA Kristen Pandhega Jaya</span>
        <span>Alamat <span style="display:inline-block;margin-left:105px"></span>: Jl.Tilong Dam Km.5, Desa Oenlasi</span>
        <span>Kelas <span style="display:inline-block;margin-left:49px"></span>: @Model.Rombel.Kelas.Jenjang.Humanize()-@Model.Rombel.Kelas.Peminatan.Nama</span>
        <span>Semester <span style="display:inline-block;margin-left:34px"></span>: @Model.Rombel.Kelas.TahunAjaran.Semester.Humanize()</span>
        <span>Tahun Ajaran <span style="display:inline-block;margin-left:15px"></span>: @Model.Rombel.Kelas.TahunAjaran.Periode</span>
    </div>
</div>