@model AnggotaRombel

@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" asp-append-version="true" />
</head>

<style>
    #headerLaporan {
        width: 100%;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 12px;
        color: black;
        border-bottom: 1px solid #333;
        padding-bottom: 5px;
        margin-left: 80px;
        margin-right: 66px;      
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .header-grid {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
    }

    .left-col, .right-col {
        display: grid;
        grid-template-columns: 100px 10px auto;
        row-gap: 5px;
    }

    .label {
        text-align: left;
    }

    .colon {
        text-align: center;
    }

    .value {
        text-transform: uppercase;
    }
</style>

<div id="headerLaporan">
    <div class="header-grid">
        <div class="left-col">
            <span class="label">Nama</span><span class="colon">:</span><span class="value">@Model.Siswa.Nama</span>
            <span class="label">NIS/NISN</span><span class="colon">:</span><span class="value">@Model.Siswa.NIS / @Model.Siswa.NISN</span>
            <span class="label">Nama Sekolah</span><span class="colon">:</span><span class="value">SMA Kristen Pandhega Jaya</span>
            <span class="label">Alamat</span><span class="colon">:</span><span class="value">Jl. Raya Tilong Dam Km.5</span>
        </div>

        <div class="right-col">
            <span class="label">Kelas</span><span class="colon">:</span><span class="value">@Model.Rombel.Kelas.Jenjang.Humanize() @Model.Rombel.Kelas.Peminatan.Nama @Model.Rombel.Nama</span>
            <span class="label">Fase</span><span class="colon">:</span><span class="value">@TujuanPembelajaran.FaseFromJenjang(Model.Rombel.Kelas.Jenjang)</span>
            <span class="label">Semester</span><span class="colon">:</span><span class="value">@Model.Rombel.TahunAjaran.Semester.Humanize()</span>
            <span class="label">Tahun Pelajaran</span><span class="colon">:</span><span class="value">@Model.Rombel.TahunAjaran.Periode</span>
        </div>
    </div>
</div>
