@using SIAkademik.Web.Areas.DashboardAdmin.Models.KelasModels
@model TambahVM
@inject ITahunAjaranRepository TahunAjaranRepository

@{
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
}

<form asp-action="Tambah" method="post" class="container">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="row">
        <label asp-for="@Model.Jenjang"></label>
        <select asp-for="@Model.Jenjang">
            @foreach(var jenjang in Enum.GetValues<Jenjang>())
            {
                <option value="@jenjang">@jenjang.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.Jenjang"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.Peminatan"></label>
        <select asp-for="@Model.Peminatan">
            @foreach (var peminatan in Enum.GetValues<Peminatan>())
            {
                <option value="@peminatan">@peminatan.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.Peminatan"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.IdTahunAjaran"></label>
        <select asp-for="@Model.IdTahunAjaran">
            @foreach (var tahunAjaran in daftarTahunAjaran)
            {
                <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.IdTahunAjaran"></span>
    </div>

    <button type="submit">Simpan</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}