@using SIAkademik.Web.Areas.DashboardAdmin.Models.KelasModels
@model TambahVM
@inject ITahunAjaranRepository TahunAjaranRepository

@{
    var daftarTahunAjaran = await TahunAjaranRepository.GetAll();
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Manajemen Akademik</a></li>
                <li class="breadcrumb-item"><a asp-area="@AreaNames.DashboardAdmin" asp-controller="Kelas" asp-action="Index">Kelas</a></li>
                <li class="breadcrumb-item" aria-current="page">Tambah Data</li>
            </ol>
        </nav>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-danger">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Kelas</h4>
                </div>

                <form asp-action="Tambah">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

                        <div class="form-group">
                            <label asp-for="@Model.Jenjang"></label>
                            <select asp-for="@Model.Jenjang" class="form-control">
                                @foreach (var jenjang in Enum.GetValues<Jenjang>())
                                {
                                    <option value="@jenjang">@jenjang.Humanize()</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.Jenjang"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Peminatan"></label>
                            <select asp-for="@Model.Peminatan" class="form-control">
                                @foreach (var peminatan in Enum.GetValues<Peminatan>())
                                {
                                    <option value="@peminatan">@peminatan.Humanize()</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.Peminatan"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdTahunAjaran"></label>
                            <select asp-for="@Model.IdTahunAjaran" class="form-control">
                                @foreach (var tahunAjaran in daftarTahunAjaran)
                                {
                                    <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.IdTahunAjaran"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Simpan</button>

                       @*  <div class="form-group">
                            <label asp-for="@Model.IdAkun">Akun<span class="text-danger">*</span></label>
                            <select asp-for="@Model.IdAkun" class="form-control select2">
                                <option value="@null">Pilih Akun...</option>
                                @foreach (var akun in daftarAkun)
                                {
                                    @if (!rapbj!.DaftarDetailRAPBJ.Any(d => d.Akun == akun))
                                    {
                                        <option value="@akun.Id">@akun.KodeAkun @akun.Uraian</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Satuan">Satuan<span class="text-danger">*</span></label>
                            <input asp-for="@Model.Satuan" type="text" class="form-control" autofocus placeholder="Satuan...">
                            <span asp-validation-for="@Model.Satuan" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Volume">Volume<span class="text-danger">*</span></label>
                            <input asp-for="@Model.Volume" type="number" class="form-control" autofocus placeholder="Volume...">
                            <span asp-validation-for="@Model.Volume" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.HargaSatuan">Harga Satuan<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        Rp
                                    </div>
                                </div>
                                <input asp-for="@Model.HargaSatuan" type="text" class="form-control" autofocus placeholder="Harga Satuan...">
                            </div>
                            <span asp-validation-for="@Model.HargaSatuan" class="form-text text-danger"></span>
                        </div>

                        <input asp-for="@Model.Tahun" hidden />
                        <input asp-for="@Model.Jenis" hidden /> *@

                    </div>

                   @*  <div class="card-footer text-right">
                        <button class="btn btn-primary mr-1" type="submit">Submit</button>
                        <a class="btn btn-danger" asp-action="Index" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun">Batal</a>
                    </div> *@
                </form>
            </div>
        </div>
    </div>
</div>

@* <form asp-action="Tambah" method="post" class="container">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="row">
        <label asp-for="@Model.Jenjang"></label>
        <select asp-for="@Model.Jenjang">
            @foreach(var jenjang in Enum.GetValues<Jenjang>())
            {
                <option value="@jenjang">@jenjang.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.Jenjang"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.Peminatan"></label>
        <select asp-for="@Model.Peminatan">
            @foreach (var peminatan in Enum.GetValues<Peminatan>())
            {
                <option value="@peminatan">@peminatan.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.Peminatan"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.IdTahunAjaran"></label>
        <select asp-for="@Model.IdTahunAjaran">
            @foreach (var tahunAjaran in daftarTahunAjaran)
            {
                <option value="@tahunAjaran.Id">@tahunAjaran.Periode @tahunAjaran.Semester.Humanize()</option>
            }
        </select>
        <span asp-validation-for="@Model.IdTahunAjaran"></span>
    </div>

    <button type="submit">Simpan</button>
</form> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}