@using SIAkademik.Web.Areas.DashboardGuru.Models.Home
@model EditProfilVM

@inject ISignInManager SignInManager

@{
    var pegawai = (await SignInManager.GetPegawai())!;
}

<form asp-action="EditProfil">

    <input asp-for="@Model.Nama" readonly hidden />
    <input asp-for="@Model.TanggalLahir" readonly hidden />
    <input asp-for="@Model.TempatLahir" readonly hidden />
    <input asp-for="@Model.Agama" readonly hidden />
    <input asp-for="@Model.JenisKelamin" readonly hidden />

    <div class="section-body">
        <div class="row" style="justify-content: center;">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card card-primary mt-3">
                    <div class="card-header border-bottom pb-3">
                        <h4>Profil Pegawai</h4>
                        <div class="ml-auto">
                            <button type="submit" asp-action="EditProfil" class="btn btn-success" data-toggle="tooltip" title="Simpan"><i class="fas fa-pencil-alt"></i><span class="pl-2">Simpan</span></button>
                            <a asp-action="Profil" class="btn btn-warning" data-toggle="tooltip" title="Batal"><i class="fas fa-sync"></i><span class="pl-2">Batal</span></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 border-right text-center">
                                <div id="foto-container" class="d-flex justify-content-center">
                                    @if (pegawai.FotoProfil is not null)
                                    {
                                        <img id="foto-profil" src="@pegawai.FotoProfil.OriginalString" alt="Foto Profil" style="width: 100%;" />
                                    }
                                    else
                                    {
                                        var inisial = string.Join("", Model.Nama.Split(' ', StringSplitOptions.RemoveEmptyEntries)
                                            .Select(n => n[0]))
                                            .ToUpperInvariant();

                                        if (inisial.Length > 2) inisial = inisial.Substring(0, 2);

                                        <div class="fotoprofil">
                                            @inisial
                                        </div>
                                    }
                                </div>

                                <button id="btn-ganti-foto" type="button" class="btn btn-secondary mt-2" data-toggle="tooltip" title="Ganti Foto Profil">Ganti Foto Profil</button>

                                <input type="file" id="input-foto" accept=".jpg,.jpeg" style="display:none" />
                            </div>

                            <div class="col-10">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">NIP</div>
                                            <div class="col-md-7">@pegawai.Id</div>
                                        </div>
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Nama Lengkap</div>
                                            <div class="col-md-7">@Model.Nama</div>
                                        </div>
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Jenis Kelamin</div>
                                            <div class="col-md-7">@Model.JenisKelamin</div>
                                        </div>
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Tempat / Tanggal Lahir</div>
                                            <div class="col-md-7">@Model.TempatLahir / @Model.TanggalLahir</div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Tanggal Masuk</div>
                                            <div class="col-md-7">@pegawai.TanggalMasuk.ToString("dd MMMM yyyy", CultureInfos.CI)</div>
                                        </div>
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Jabatan</div>
                                            <div class="col-md-7">@pegawai.Jabatan.Nama - @pegawai.Jabatan.Jenis.Humanize()</div>
                                        </div>
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Divisi</div>
                                            <div class="col-md-7">@pegawai.Divisi.Nama</div>
                                        </div>
                                        <div class="row mb-3 border-bottom pb-1">
                                            <div class="col-md-5" style="font-weight:600;">Agama</div>
                                            <div class="col-md-7">@Model.Agama</div>
                                        </div>
                                    </div>
                                </div>

@*                                 <div asp-validation-summary="All"></div>
 *@
                                @* Ini Desain Tab *@
                                <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                           aria-controls="home" aria-selected="true">Data Diri</a>
                                    </li>                                   
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active pt-0" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row border pt-2">
                                            <div class="col-6">
                                                <div class="row">
                                                    <div class="col-12 pb-3">
                                                        <div class="card-header border-bottom pl-0" style="border-bottom: 2px solid #6777ef !important;">
                                                            <h4 style="color: #6777ef">Umum</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.NIK">NIK<span style="color:red">*</span></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.NIK" class="form-control" />
                                                        <span asp-validation-for="@Model.NIK" hidden></span>
                                                    </div>
                                                </div>
                                                                                              
                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.StatusPerkawinan"></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select asp-for="@Model.StatusPerkawinan" class="form-control">
                                                            @foreach (var statusKawin in Enum.GetValues<StatusPerkawinan>())
                                                            {
                                                                <option value="@statusKawin">@statusKawin.Humanize()</option>
                                                            }
                                                        </select>
                                                        <span asp-validation-for="@Model.StatusPerkawinan" hidden></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.GolonganDarah"></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select asp-for="@Model.GolonganDarah" class="form-control">
                                                            @foreach (var golonganDarah in Enum.GetValues<GolonganDarah>())
                                                            {
                                                                <option value="@golonganDarah">@golonganDarah.Humanize()</option>
                                                            }
                                                        </select>
                                                        <span asp-validation-for="@Model.GolonganDarah" hidden></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.NoRekening"></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.NoRekening" class="form-control" />
                                                        <span asp-validation-for="@Model.NoRekening" hidden></span>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12 pb-3">
                                                        <div class="card-header border-bottom pl-0" style="border-bottom: 2px solid #6777ef !important;">
                                                            <h4 style="color: #6777ef">Kontak</h4>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.NoHP">No. HP<span style="color:red">*</span></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.NoHP" class="form-control" />
                                                        <span asp-validation-for="@Model.NoHP" hidden></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.Email">Email<span style="color:red">*</span></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.Email" class="form-control" />
                                                        <span asp-validation-for="@Model.Email" hidden></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-3 pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.NamaInstagram"></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.NamaInstagram" class="form-control" />
                                                        <span asp-validation-for="@Model.NamaInstagram" hidden></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-6">                                                
                                                <div class="row">
                                                    <div class="col-12 pb-3">
                                                        <div class="card-header border-bottom pl-0" style="border-bottom: 2px solid #6777ef !important;">
                                                            <h4 style="color: #6777ef">Alamat</h4>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.Alamat.Jalan">Alamat</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.Alamat.Jalan" class="form-control" />
                                                        <span asp-validation-for="@Model.Alamat.Jalan" hidden></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.Alamat.RT"></label>
                                                    </div>
                                                    <div class="col-md-7"><input asp-for="@Model.Alamat.RT" class="form-control" /></div>
                                                    <span asp-validation-for="@Model.Alamat.RT" hidden></span>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.Alamat.RW"></label>
                                                    </div>
                                                    <div class="col-md-7"><input asp-for="@Model.Alamat.RW" class="form-control" /></div>
                                                    <span asp-validation-for="@Model.Alamat.RW" hidden></span>
                                                </div>

                                                <div class="row mb-3 pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.Alamat.KelurahanDesa"></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.Alamat.KelurahanDesa" class="form-control" />
                                                        <span asp-validation-for="@Model.Alamat.KelurahanDesa" hidden></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.Alamat.Kecamatan"></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.Alamat.Kecamatan" class="form-control" />
                                                        <span asp-validation-for="@Model.Alamat.Kecamatan" hidden></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.Alamat.KotaKabupaten"></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.Alamat.KotaKabupaten" class="form-control" />
                                                        <span asp-validation-for="@Model.Alamat.KotaKabupaten" hidden></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 border-bottom pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.Alamat.Provinsi"></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.Alamat.Provinsi" class="form-control" />
                                                        <span asp-validation-for="@Model.Alamat.Provinsi" hidden></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-3 pb-1">
                                                    <div class="col-md-5" style="font-weight:600;">
                                                        <label asp-for="@Model.Alamat.KodePos"></label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="@Model.Alamat.KodePos" class="form-control" />
                                                        <span asp-validation-for="@Model.Alamat.KodePos" hidden></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            // ketika tombol diklik, buka file picker
            $('#btn-ganti-foto').on('click', function () {
                $('#input-foto').click();
            });

            // ketika user memilih file
            $('#input-foto').on('change', function () {
                var file = this.files[0];
                if (!file) return;

                // validasi ukuran & tipe file
                if (!['image/jpeg', 'image/jpg'].includes(file.type)) {
                    alert('Hanya file .jpg atau .jpeg yang diperbolehkan.');
                    return;
                }
                if (file.size > 100 * 1024) {
                    alert('Ukuran file maksimal 100 KB.');
                    return;
                }

                var formData = new FormData();
                formData.append('FotoProfil', file);

                // tampilkan indikator loading
                $('#btn-ganti-foto').prop('disabled', true).text('Mengunggah...');
                +
                    $.ajax({
                        url: '@Url.Action("EditFotoProfil", "Home", new { area = "DashboardSiswa" })',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            // misalnya controller mengembalikan URL foto baru
                            if (res && res.newFotoUrl) {
                                $('#foto-profil').attr('src', res.newFotoUrl);
                            }
                            // reload halaman
                            setTimeout(function () {
                                location.reload();
                            });
                        },
                        error: function () {
                            // alert('Gagal mengganti foto profil.');
                        },
                        complete: function () {
                            $('#btn-ganti-foto').prop('disabled', false).text('Ganti Foto Profil');
                        }
                    });
            });
        });
    </script>
}