@using SIAkademik.Web.Areas.DashboardGuru.Models.Home
@model IndexVM

<section class="section">
    <div class="container-fluid mt-3 mb-3">
        <!-- Header Selamat Datang -->
        <h3 style="font-weight:bold;">Selamat Pagi, Guru @Model.Pegawai.Nama 👋</h3>
        <p class="text-muted">Pantau jadwal mengajar, kelas wali, dan kalender akademik.</p>

        <div class="row g-3 mt-3">
            <!-- Kolom Kiri: Jadwal Mengajar -->
            <div class="col-lg-8 col-md-12">
                <div class="card shadow-sm h-100">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="fw-bold mb-0">Jadwal Mengajar Hari Ini</h4>
                        <form asp-action="Index" method="get">
                            <input asp-for="@Model.Tanggal" type="date" class="form-control" />
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="rounded mb-3" style="background-color: #f5f7f8; color:#4d5f72; padding: 10px; font-size:14px;">
                            <p class="mb-0">@Model.Tanggal.ToString(CultureInfos.CI.DateTimeFormat.LongDatePattern, CultureInfos.CI)</p>
                        </div>

                        <!-- Card Jadwal -->
                        <div class="row g-3">
                            @if (Model.JadwalHariIni.Count == 0)
                            {
                                <div class="col-12 text-center py-4">
                                    <p class="text-center">Tidak ada aktivitas mengajar saat ini</p>
                                </div>                             
                            }

                            @foreach (var hari in Model.JadwalHariIni.OrderBy(j => j.JamMulai))
                            {
                                <!-- Loop foreach pelajaran -->
                                <div class="col-md-12 mb-3">
                                    <div class="border rounded p-3 d-flex justify-content-between align-items-center" style="background-color:#f9fafb;">
                                        <div class="col-8">
                                            <h6 class="fw-bold mb-3">@hari.JadwalMengajar.MataPelajaran.Nama</h6>
                                            <div class="row text-muted">
                                                <div class="col-6 mb-3">
                                                    <i class="fas fa-clock mr-1"></i> @hari.JamMulai.ToShortTimeString() - @hari.JamAkhir.ToShortTimeString() WITA
                                                </div>
                                                <div class="col-6 mb-3">
                                                    <i class="fas fa-person mr-1"></i> @hari.JadwalMengajar.Pegawai.Nama
                                                </div>
                                                @* <div class="col-6 mb-3">
                                                    <i class="fas fa-book mr-1"></i> Pertemuan ke 1
                                                </div>
                                                <div class="col-6 mb-3">
                                                    <i class="fas fa-door-open mr-1"></i> 55201-205A
                                                </div>
                                                <div class="col-12 mb-3">
                                                    <i class="fas fa-check-circle mr-1"></i> Kehadiran Belum Tercatat
                                                </div> *@
                                            </div>
                                        </div>
                                        <div class="col-4 d-flex flex-column align-items-end">
                                            <a asp-action="Detail" asp-controller="JadwalMengajar" asp-route-id="@hari.JadwalMengajar.Id" class="btn btn-outline-success btn-sm w-100 mb-1 text-end">
                                                <i class="bi bi-box-arrow-up-right me-1"></i> Lihat Kelas
                                            </a>
                                            <a href="#" class="btn btn-outline-success btn-sm w-100 mb-1 text-end">
                                                <i class="bi bi-box-arrow-up-right me-1"></i> Lihat Pertemuan
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Kolom Kanan -->
            <div class="col-lg-4 col-md-12">
                <!-- Row Atas: Kelas Wali -->
                <div class="card shadow-sm mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="fw-bold">Kelas Wali</h4> <hr>
                        @if (Model.TahunAjaran is not null)
                        {
                            <h4 class="text-muted font-12" style="font-weight: 500">@Model.TahunAjaran.Periode @Model.TahunAjaran.Semester.Humanize()</h4>
                        }
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead class="table-light text-center">
                                    <tr>
                                        <th>Kelas</th>
                                        <th>Jumlah Siswa</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @if(Model.TahunAjaran is null)
                                    {
                                        <tr>
                                            <td colspan="2">Tidak ada tahun ajaran aktif</td>
                                        </tr>
                                    }
                                    else if(Model.RombelWali.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="2">Tidak ada kelas wali di tahun ajaran ini</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach(var rombel in Model.RombelWali)
                                        {
                                            <tr>
                                                <td>@rombel.Kelas.Jenjang.Humanize() @rombel.Kelas.Peminatan.Nama @rombel.Nama</td>
                                                <td>@rombel.DaftarAnggotaRombel.Count</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a asp-area="@AreaNames.DashboardGuru" asp-controller="KelasWali" asp-action="Index">Lihat Detail</a>
                    </div>
                </div>

                <!-- Row Bawah: Kalender Akademik -->
                <div class="card shadow-sm">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="fw-bold mb-0">Kalender Akademik</h4>
                    </div>
                    <div class="card-body">
                        <div class="wrapper">
                            <header>
                                <div class="icons">
                                    <span id="prev">
                                        <i class="fas fa-angle-left"></i>
                                    </span>
                                </div>
                                <p class="current-date font-20 m-0"></p>
                                <div class="icons">
                                    <span id="next">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </div>
                            </header>
                            <div class="calendar">
                                <ul class="weeks p-0">
                                    <li>Sun</li>
                                    <li>Mon</li>
                                    <li>Tue</li>
                                    <li>Wed</li>
                                    <li>Thu</li>
                                    <li>Fri</li>
                                    <li>Sat</li>
                                </ul>
                                <ul class="days p-0"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('input#Tanggal').on('change', function() {
                $(this).closest('form').trigger('submit');
            });
        });

        const daysTag = document.querySelector(".days"),
            currentDate = document.querySelector(".current-date"),
            prevNextIcon = document.querySelectorAll(".icons span");

        // getting new date, current year and month
        let date = new Date(),
            currYear = date.getFullYear(),
            currMonth = date.getMonth();

        // storing full name of all months in array
        const months = ["January", "February", "March", "April", "May", "June", "July",
            "August", "September", "October", "November", "December"];

        const renderCalendar = () => {
            let firstDayofMonth = new Date(currYear, currMonth, 1).getDay(), // getting first day of month
                lastDateofMonth = new Date(currYear, currMonth + 1, 0).getDate(), // getting last date of month
                lastDayofMonth = new Date(currYear, currMonth, lastDateofMonth).getDay(), // getting last day of month
                lastDateofLastMonth = new Date(currYear, currMonth, 0).getDate(); // getting last date of previous month
            let liTag = "";

            for (let i = firstDayofMonth; i > 0; i--) { // creating li of previous month last days
                liTag += `<li class="inactive">${lastDateofLastMonth - i + 1}</li>`;
            }

            for (let i = 1; i <= lastDateofMonth; i++) { // creating li of all days of current month
                // adding active class to li if the current day, month, and year matched
                let isToday = i === date.getDate() && currMonth === new Date().getMonth()
                    && currYear === new Date().getFullYear() ? "active" : "";
                liTag += `<li class="${isToday}">${i}</li>`;
            }

            for (let i = lastDayofMonth; i < 6; i++) { // creating li of next month first days
                liTag += `<li class="inactive">${i - lastDayofMonth + 1}</li>`
            }
            currentDate.innerText = `${months[currMonth]} ${currYear}`; // passing current mon and yr as currentDate text
            daysTag.innerHTML = liTag;
        }
        renderCalendar();

        prevNextIcon.forEach(icon => { // getting prev and next icons
            icon.addEventListener("click", () => { // adding click event on both icons
                // if clicked icon is previous icon then decrement current month by 1 else increment it by 1
                currMonth = icon.id === "prev" ? currMonth - 1 : currMonth + 1;

                if (currMonth < 0 || currMonth > 11) { // if current month is less than 0 or greater than 11
                    // creating a new date of current year & month and pass it as date value
                    date = new Date(currYear, currMonth, new Date().getDate());
                    currYear = date.getFullYear(); // updating current year with new date year
                    currMonth = date.getMonth(); // updating current month with new date month
                } else {
                    date = new Date(); // pass the current date as date value
                }
                renderCalendar(); // calling renderCalendar function
            });
        });
    </script>
}