@using SIAkademik.Web.Areas.DashboardGuru.Models.Home
@model UbahPasswordVM

<form asp-action="UbahPassword" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="row">
        <label asp-for="@Model.PasswordLama"></label>
        <input asp-for="@Model.PasswordLama"/>
        <span asp-validation-for="@Model.PasswordLama"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.PasswordBaru"></label>
        <input asp-for="@Model.PasswordBaru" />
        <span asp-validation-for="@Model.PasswordBaru"></span>
    </div>

    <div class="row">
        <label asp-for="@Model.KonfirmasiPasswordBaru"></label>
        <input asp-for="@Model.KonfirmasiPasswordBaru" />
        <span asp-validation-for="@Model.KonfirmasiPasswordBaru"></span>
    </div>

    <a asp-action="Profil">Batal</a>
    <button type="submit">Simpan</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}